workflows/Book_Enrichment_Endpoint.json
{
  "updatedAt": "2025-12-03T05:01:28.000Z",
  "createdAt": "2025-12-02T18:16:18.743Z",
  "id": "GWuurQa44UzlbQ08",
  "name": "Book Enrichment Endpoint",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich_book",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "megyk.com"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        0
      ],
      "id": "c98d56cb-5559-47b8-a6af-38aca0e070d6",
      "name": "Webhook",
      "webhookId": "fd3f48cc-7dda-460f-8aba-f8aafcc97808"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "books",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.bookId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "209c8993-ef82-4fed-abf8-6311398cdbf7",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        0
      ],
      "id": "8435cd04-e82d-4284-ae3d-b3ee5bd6ef94",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQp61SzkePFnnurz",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQp61SzkePFnnurz",
          "cachedResultName": "Enrich Book by ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        0
      ],
      "id": "e3d71423-96c0-46c3-bf59-fb3dc6ace791",
      "name": "Call 'Enrich Book by ID'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Call 'Enrich Book by ID'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Enrich Book by ID'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "node",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "209.160.254.18",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "bookId": "99df2b50-7fa0-4aa8-827c-886c8b710d14"
          },
          "webhookUrl": "https://n8n.megyk.com/webhook/enrich_book",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "34ef581d-05d0-482b-9104-4e020b0c239a",
  "activeVersionId": "34ef581d-05d0-482b-9104-4e020b0c239a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-02T18:16:18.796Z",
      "createdAt": "2025-12-02T18:16:18.796Z",
      "role": "workflow:owner",
      "workflowId": "GWuurQa44UzlbQ08",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-02T18:51:28.691Z",
    "createdAt": "2025-12-02T18:51:28.691Z",
    "versionId": "34ef581d-05d0-482b-9104-4e020b0c239a",
    "workflowId": "GWuurQa44UzlbQ08",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "enrich_book",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "megyk.com"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -336,
          0
        ],
        "id": "c98d56cb-5559-47b8-a6af-38aca0e070d6",
        "name": "Webhook",
        "webhookId": "fd3f48cc-7dda-460f-8aba-f8aafcc97808"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "books",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.body.bookId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -112,
          0
        ],
        "id": "209c8993-ef82-4fed-abf8-6311398cdbf7",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          544,
          0
        ],
        "id": "8435cd04-e82d-4284-ae3d-b3ee5bd6ef94",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZQp61SzkePFnnurz",
            "mode": "list",
            "cachedResultUrl": "/workflow/ZQp61SzkePFnnurz",
            "cachedResultName": "Enrich Book by ID"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          96,
          0
        ],
        "id": "e3d71423-96c0-46c3-bf59-fb3dc6ace791",
        "name": "Call 'Enrich Book by ID'"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Call 'Enrich Book by ID'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Enrich Book by ID'": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": null,
    "description": null
  },
  "tags": []
}