workflows/Chat_Question_Suggestions.json
{
  "updatedAt": "2026-01-09T01:19:01.514Z",
  "createdAt": "2026-01-08T22:54:43.062Z",
  "id": "DqqdIlm1EQ5zrDAmf6vUr",
  "name": "Chat Question Suggestions",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat_suggestions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "081b9f9f-001e-4258-b1bd-f9cdfa055a86",
      "name": "Webhook",
      "webhookId": "d2e1a603-b459-4324-86c1-69c2c3d75c2d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bdf57f2-c6ca-43ca-a584-60495cf70e2d",
              "name": "book_id",
              "value": "={{ $json.body.book_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "601249ff-3af0-4eb2-942b-2c689bf9d9ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=book title: {{ $json.title }}\n\nsummary: {{ $json.summary }}",
        "options": {
          "systemMessage": "You are an executive thinking partner.\n\nYour only input is a book title and summary.\n\nBased solely on the implications, themes, and promises suggested by the title and summary, generate 2–3 sharp questions that a high-performing individual would naturally ask. \n\nAssume the reader is:\n- Experienced\n- Time-constrained\n- Focused on leverage, clarity, and outcomes\n\nYour questions must:\n- Be short, direct, and high-signal\n\n\nDo NOT:\n- Explain the questions\n- Add preamble or commentary\n\nOutput format:\nReturn ONLY a JSON array of strings.\n\nExample output:\n[\n  \"What is meant by [key phrase in book title]?\",\n  \"What are the key takeaways from this book?\",\n  \"Where  could I apply the principles to my business?\"\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        0
      ],
      "id": "636964a3-919b-4df1-901e-bc84cae75f1f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        272
      ],
      "id": "de93df62-5b78-4bbd-b32f-dd19c06a3f0b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        0
      ],
      "id": "18a6401a-7273-4240-b00a-bd9d7043a7dd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "books",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.book_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "26b87b21-9b21-4899-8694-8765ba5695f6",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "node",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "98.153.119.146",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "book_id": "04c7ac03-6d11-4ac6-ba3d-1d556ae8ba22"
          },
          "webhookUrl": "https://n8n.megyk.com/webhook/chat_suggestions",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "833bab84-982c-4299-ae4a-d252409fb6f5",
  "activeVersionId": "833bab84-982c-4299-ae4a-d252409fb6f5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-08T22:54:43.070Z",
      "createdAt": "2026-01-08T22:54:43.070Z",
      "role": "workflow:owner",
      "workflowId": "DqqdIlm1EQ5zrDAmf6vUr",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-09T01:19:04.000Z",
    "createdAt": "2026-01-09T01:19:01.515Z",
    "versionId": "833bab84-982c-4299-ae4a-d252409fb6f5",
    "workflowId": "DqqdIlm1EQ5zrDAmf6vUr",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chat_suggestions",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "081b9f9f-001e-4258-b1bd-f9cdfa055a86",
        "name": "Webhook",
        "webhookId": "d2e1a603-b459-4324-86c1-69c2c3d75c2d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7bdf57f2-c6ca-43ca-a584-60495cf70e2d",
                "name": "book_id",
                "value": "={{ $json.body.book_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ],
        "id": "601249ff-3af0-4eb2-942b-2c689bf9d9ec",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=book title: {{ $json.title }}\n\nsummary: {{ $json.summary }}",
          "options": {
            "systemMessage": "You are an executive thinking partner.\n\nYour only input is a book title and summary.\n\nBased solely on the implications, themes, and promises suggested by the title and summary, generate 2–3 sharp questions that a high-performing individual would naturally ask. \n\nAssume the reader is:\n- Experienced\n- Time-constrained\n- Focused on leverage, clarity, and outcomes\n\nYour questions must:\n- Be short, direct, and high-signal\n\n\nDo NOT:\n- Explain the questions\n- Add preamble or commentary\n\nOutput format:\nReturn ONLY a JSON array of strings.\n\nExample output:\n[\n  \"What is meant by [key phrase in book title]?\",\n  \"What are the key takeaways from this book?\",\n  \"Where  could I apply the principles to my business?\"\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          720,
          0
        ],
        "id": "636964a3-919b-4df1-901e-bc84cae75f1f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          592,
          272
        ],
        "id": "de93df62-5b78-4bbd-b32f-dd19c06a3f0b",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "BRRf66J5aSwt4UDP",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1072,
          0
        ],
        "id": "18a6401a-7273-4240-b00a-bd9d7043a7dd",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "books",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.book_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          432,
          0
        ],
        "id": "26b87b21-9b21-4899-8694-8765ba5695f6",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version 833bab84",
    "description": "",
    "autosaved": false
  },
  "tags": []
}