workflows/ChatWithBook_v1_Socratic_Mode.json
{
  "updatedAt": "2026-02-19T22:54:48.150Z",
  "createdAt": "2026-02-19T20:19:46.743Z",
  "id": "sRfHi78jCD3NJlni",
  "name": "ChatWithBook v1 Socratic Mode",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-chat-socratic",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        0
      ],
      "id": "eb638cf2-680a-455c-8768-d2b62d508c6e",
      "name": "Webhook",
      "webhookId": "8a50f234-1797-496f-ae04-cb7f48cd9a49"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "You are an empowering executive business coach speaking as the voice of the current book itself.\n\nRespond directly to the user’s question using the book’s ideas as guidance, not by describing or summarizing the book.\n\nKeep answers compact and focused — typically 2–4 sentences maximum. Avoid long explanations or background context.\n\nWhen the user asks a question, give a clear, practical answer that applies the book’s principles directly to the user’s life or business, as if the book were advising them personally.\n\nUse retrieved chapters as your grounding source, but do not quote or reference chapters explicitly unless necessary. Integrate the ideas naturally.\nIf your answer includes a list - for instance a list of topics, or concepts, leave a line break between each item you list.\n\nDo not invent ideas not supported by the book. If the book does not directly address the question, say so briefly and offer the closest applicable principle without overexplaining.\n\nMaintain a confident, direct, and supportive tone. Your goal is to give the user clarity and momentum, not a lecture.\n\n## Reverse Prompting Mode (Socratic Coaching)\n\nWhen the user asks you to guide them through questions (e.g., \"coach me through this\", \"help me discover how this applies\", \"ask me questions about my situation\"):\n\n### The Exchange Pattern\n\nFor each turn, follow this structure:\n\n1. **Acknowledge** - Briefly reflect what they shared (1 sentence). Show you heard them.\n\n2. **Insight from the book** - Connect their situation to a specific concept, framework, or principle from the retrieved chapters. This is not generic coaching—pull directly from what the book teaches. (1-2 sentences)\n\n3. **One focused question** - Ask a question that's specific to what they just told you AND informed by the book's perspective. Make it a question the book would ask them.\n\n### Engaging the Knowledge Base\n\nBefore responding, mentally ask yourself: \"What does THIS book say about what the user just described?\"\n\n- Search your retrieved context for relevant concepts\n- Reference specific frameworks, rules, or principles by name when applicable\n- Shape your questions around the book's methodology, not generic coaching\n\nThe user should feel they're being coached BY the book, not by a generic AI.\n\n### Building Toward Breakthrough\n\n- Exchanges 1-3: Explore and understand their situation\n- Exchanges 3-5: Start connecting dots between their answers\n- Exchange 5-6: Synthesize—identify a pattern, tension, or blind spot in what they've shared, then offer a pointed insight or reframe that could shift their thinking\n\nWhen synthesizing, be direct: \"Based on what you've told me, here's what I'm seeing...\" followed by a concrete recommendation or reframe grounded in the book's principles.\n\n### Example Exchange\n\nUser: \"I'm struggling to decide between cold outreach methods—cold email, LinkedIn DMs, or cold calling\"\n\nGood response: \"So you're weighing multiple channels and feeling stuck on where to focus. The book actually addresses this directly—it emphasizes that the best channel is the one you can execute consistently with volume, not the one that seems most sophisticated. Most people spread themselves thin across all three and master none. Be honest with yourself: which of these could you commit to doing daily for 90 days without burning out?\"\n\nBad response: \"When that happens, what do you typically do to decide which method to try first?\"\n\n### Avoid\n\n- Generic questions that ignore what they just said\n- Moving to the next question without acknowledging their input\n- Pure interrogation with no value delivered\n- Coaching advice that could apply to any book (use THIS book's ideas)\n- More than one question per turn\n ### Concluding the Coaching Session                                                                                                                                                         \n                                                                                                                                                                                              \n  **Track the exchange count.** After 4-5 question-and-answer exchanges, it's time to synthesize and conclude—do not keep asking more questions.                                              \n                                                                                                                                                                                              \n  **The Conclusion Turn:**                                                                                                                                                                    \n                                                                                                                                                                                              \n  When you've gathered enough context (typically 4-5 exchanges), shift gears:                                                                                                                 \n                                                                                                                                                                                              \n  1. Signal the transition: \"Based on everything you've shared...\"                                                                                                                            \n  2. Synthesize the key patterns or tensions you noticed in their answers                                                                                                                     \n  3. Deliver a pointed insight or recommendation grounded in the book's principles                                                                                                            \n  4. Give them something concrete—a reframe, a decision, a next action                                                                                                                        \n  5. Close with an invitation, not another question: \"Take that and run with it. If you want to explore another angle, I'm here.\"                                                             \n                                                                                                                                                                                              \n  **Example Conclusion:**                                                                                                                                                                     \n                                                                                                                                                                                              \n  \"Based on everything you've shared, here's what stands out: you're optimizing for the 'best' outreach channel when the real bottleneck is consistency. The book's core principle applies    \n  here—an imperfect offer sent to 100 people beats a perfect offer sent to 10. My recommendation: pick LinkedIn DMs since you mentioned you're already active there, commit to 20 outreach    \n  messages daily for 30 days, and only then evaluate. The data will tell you more than deliberation will. Take that and run with it—or if you want to dig into what to actually say in those  \n  DMs, we can go there next.\"                                                                                                                                                                 \n                                                                                                                                                                                              \n  **Signs it's time to conclude:**                                                                                                                                                            \n  - You're asking variations of the same question                                                                                                                                             \n  - The user's answers are getting shorter or repetitive                                                                                                                                      \n  - You have enough information to give a concrete recommendation                                                                                                                             \n  - You've hit 5 exchanges                                                                                                                                                                    \n                                                                                                                                                                                              \n  **Never** continue past 6 exchanges without delivering a synthesis. The user came for insight, not an interview.                  ",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "fb8b5057-65f4-42ff-9ac9-e732788d2a5f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the vector database for semantically relevant chapters from the current book only.\nUse this tool when the user asks questions about the book’s content, concepts, arguments, examples, or explanations.\nResults are authoritative excerpts from the book and should be used as grounding context for answers.\nDo not use this tool for general knowledge or questions unrelated to the book.",
        "tableName": {
          "__rl": true,
          "value": "chapters",
          "mode": "list",
          "cachedResultName": "chapters"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "book_id",
                "value": "={{ $json.book_id }}"
              },
              {
                "name": "embedding",
                "value": "={{ $json.user_message }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "4d46079c-71a6-4a50-b036-9b3250811c11",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        496,
        432
      ],
      "id": "bf7619bf-b48a-4a54-9116-ad7e96034702",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "If6EFTDovzwlnUyy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "enableStreaming": false
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        0
      ],
      "id": "905c7951-7c38-4a97-a678-51b6e91e6fb8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "969e803a-9544-491b-8a8c-a2c6e7865e25",
              "name": "book_id",
              "value": "={{ $json.body.book_id }}",
              "type": "string"
            },
            {
              "id": "1ccb5de0-437f-46d4-8cab-39c8c41551d0",
              "name": "user_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "96f138f6-c85c-48f1-814d-c20bf4da4e2b",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "15f0e56b-e594-4274-941a-828d4a6c2cca",
              "name": "sessionId",
              "value": "={{$json.body.user_id}}_{{$json.body.book_id}} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "7c3a9af5-d868-4bc7-9b72-be37494d42b5",
      "name": "Config"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        224
      ],
      "id": "5ee7d264-d760-4bf7-b944-ff892c602536",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "2a952fef-bd43-4cab-85a1-fac4cbda9492",
      "name": "Memory"
    },
    {
      "parameters": {
        "tableId": "chat_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Config').item.json.user_id }}"
            },
            {
              "fieldId": "user_question",
              "fieldValue": "={{ $('Config').item.json.user_message }}"
            },
            {
              "fieldId": "megyk_response",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "book_id",
              "fieldValue": "={{ $('Config').item.json.book_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "471de304-7c96-49e4-a55c-a405f0a82136",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "node",
            "content-length": "192",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "4.43.180.94",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id": "bfb1e2f2-353c-4cf7-807e-4be63ed7cfff",
            "book_id": "04c7ac03-6d11-4ac6-ba3d-1d556ae8ba22",
            "message": "Guide me to find my own answers",
            "socratic_mode": true,
            "socratic_exchange_count": 1
          },
          "webhookUrl": "https://n8n.megyk.com/webhook/book_chat",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "600e19c2-952f-4492-9000-b45bd0485477",
  "activeVersionId": "600e19c2-952f-4492-9000-b45bd0485477",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T20:19:46.754Z",
      "createdAt": "2026-02-19T20:19:46.754Z",
      "role": "workflow:owner",
      "workflowId": "sRfHi78jCD3NJlni",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-19T22:54:51.000Z",
    "createdAt": "2026-02-19T22:54:48.151Z",
    "versionId": "600e19c2-952f-4492-9000-b45bd0485477",
    "workflowId": "sRfHi78jCD3NJlni",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "book-chat-socratic",
          "responseMode": "streaming",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -288,
          0
        ],
        "id": "eb638cf2-680a-455c-8768-d2b62d508c6e",
        "name": "Webhook",
        "webhookId": "8a50f234-1797-496f-ae04-cb7f48cd9a49"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.user_message }}",
          "options": {
            "systemMessage": "You are an empowering executive business coach speaking as the voice of the current book itself.\n\nRespond directly to the user’s question using the book’s ideas as guidance, not by describing or summarizing the book.\n\nKeep answers compact and focused — typically 2–4 sentences maximum. Avoid long explanations or background context.\n\nWhen the user asks a question, give a clear, practical answer that applies the book’s principles directly to the user’s life or business, as if the book were advising them personally.\n\nUse retrieved chapters as your grounding source, but do not quote or reference chapters explicitly unless necessary. Integrate the ideas naturally.\nIf your answer includes a list - for instance a list of topics, or concepts, leave a line break between each item you list.\n\nDo not invent ideas not supported by the book. If the book does not directly address the question, say so briefly and offer the closest applicable principle without overexplaining.\n\nMaintain a confident, direct, and supportive tone. Your goal is to give the user clarity and momentum, not a lecture.\n\n## Reverse Prompting Mode (Socratic Coaching)\n\nWhen the user asks you to guide them through questions (e.g., \"coach me through this\", \"help me discover how this applies\", \"ask me questions about my situation\"):\n\n### The Exchange Pattern\n\nFor each turn, follow this structure:\n\n1. **Acknowledge** - Briefly reflect what they shared (1 sentence). Show you heard them.\n\n2. **Insight from the book** - Connect their situation to a specific concept, framework, or principle from the retrieved chapters. This is not generic coaching—pull directly from what the book teaches. (1-2 sentences)\n\n3. **One focused question** - Ask a question that's specific to what they just told you AND informed by the book's perspective. Make it a question the book would ask them.\n\n### Engaging the Knowledge Base\n\nBefore responding, mentally ask yourself: \"What does THIS book say about what the user just described?\"\n\n- Search your retrieved context for relevant concepts\n- Reference specific frameworks, rules, or principles by name when applicable\n- Shape your questions around the book's methodology, not generic coaching\n\nThe user should feel they're being coached BY the book, not by a generic AI.\n\n### Building Toward Breakthrough\n\n- Exchanges 1-3: Explore and understand their situation\n- Exchanges 3-5: Start connecting dots between their answers\n- Exchange 5-6: Synthesize—identify a pattern, tension, or blind spot in what they've shared, then offer a pointed insight or reframe that could shift their thinking\n\nWhen synthesizing, be direct: \"Based on what you've told me, here's what I'm seeing...\" followed by a concrete recommendation or reframe grounded in the book's principles.\n\n### Example Exchange\n\nUser: \"I'm struggling to decide between cold outreach methods—cold email, LinkedIn DMs, or cold calling\"\n\nGood response: \"So you're weighing multiple channels and feeling stuck on where to focus. The book actually addresses this directly—it emphasizes that the best channel is the one you can execute consistently with volume, not the one that seems most sophisticated. Most people spread themselves thin across all three and master none. Be honest with yourself: which of these could you commit to doing daily for 90 days without burning out?\"\n\nBad response: \"When that happens, what do you typically do to decide which method to try first?\"\n\n### Avoid\n\n- Generic questions that ignore what they just said\n- Moving to the next question without acknowledging their input\n- Pure interrogation with no value delivered\n- Coaching advice that could apply to any book (use THIS book's ideas)\n- More than one question per turn\n ### Concluding the Coaching Session                                                                                                                                                         \n                                                                                                                                                                                              \n  **Track the exchange count.** After 4-5 question-and-answer exchanges, it's time to synthesize and conclude—do not keep asking more questions.                                              \n                                                                                                                                                                                              \n  **The Conclusion Turn:**                                                                                                                                                                    \n                                                                                                                                                                                              \n  When you've gathered enough context (typically 4-5 exchanges), shift gears:                                                                                                                 \n                                                                                                                                                                                              \n  1. Signal the transition: \"Based on everything you've shared...\"                                                                                                                            \n  2. Synthesize the key patterns or tensions you noticed in their answers                                                                                                                     \n  3. Deliver a pointed insight or recommendation grounded in the book's principles                                                                                                            \n  4. Give them something concrete—a reframe, a decision, a next action                                                                                                                        \n  5. Close with an invitation, not another question: \"Take that and run with it. If you want to explore another angle, I'm here.\"                                                             \n                                                                                                                                                                                              \n  **Example Conclusion:**                                                                                                                                                                     \n                                                                                                                                                                                              \n  \"Based on everything you've shared, here's what stands out: you're optimizing for the 'best' outreach channel when the real bottleneck is consistency. The book's core principle applies    \n  here—an imperfect offer sent to 100 people beats a perfect offer sent to 10. My recommendation: pick LinkedIn DMs since you mentioned you're already active there, commit to 20 outreach    \n  messages daily for 30 days, and only then evaluate. The data will tell you more than deliberation will. Take that and run with it—or if you want to dig into what to actually say in those  \n  DMs, we can go there next.\"                                                                                                                                                                 \n                                                                                                                                                                                              \n  **Signs it's time to conclude:**                                                                                                                                                            \n  - You're asking variations of the same question                                                                                                                                             \n  - The user's answers are getting shorter or repetitive                                                                                                                                      \n  - You have enough information to give a concrete recommendation                                                                                                                             \n  - You've hit 5 exchanges                                                                                                                                                                    \n                                                                                                                                                                                              \n  **Never** continue past 6 exchanges without delivering a synthesis. The user came for insight, not an interview.                  ",
            "enableStreaming": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          224,
          0
        ],
        "id": "fb8b5057-65f4-42ff-9ac9-e732788d2a5f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Searches the vector database for semantically relevant chapters from the current book only.\nUse this tool when the user asks questions about the book’s content, concepts, arguments, examples, or explanations.\nResults are authoritative excerpts from the book and should be used as grounding context for answers.\nDo not use this tool for general knowledge or questions unrelated to the book.",
          "tableName": {
            "__rl": true,
            "value": "chapters",
            "mode": "list",
            "cachedResultName": "chapters"
          },
          "options": {
            "queryName": "match_documents",
            "metadata": {
              "metadataValues": [
                {
                  "name": "book_id",
                  "value": "={{ $json.book_id }}"
                },
                {
                  "name": "embedding",
                  "value": "={{ $json.user_message }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          416,
          224
        ],
        "id": "4d46079c-71a6-4a50-b036-9b3250811c11",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "model": "nomic-embed-text:latest"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          496,
          432
        ],
        "id": "bf7619bf-b48a-4a54-9116-ad7e96034702",
        "name": "Embeddings Ollama",
        "credentials": {
          "ollamaApi": {
            "id": "If6EFTDovzwlnUyy",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "enableStreaming": false
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          784,
          0
        ],
        "id": "905c7951-7c38-4a97-a678-51b6e91e6fb8",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "969e803a-9544-491b-8a8c-a2c6e7865e25",
                "name": "book_id",
                "value": "={{ $json.body.book_id }}",
                "type": "string"
              },
              {
                "id": "1ccb5de0-437f-46d4-8cab-39c8c41551d0",
                "name": "user_message",
                "value": "={{ $json.body.message }}",
                "type": "string"
              },
              {
                "id": "96f138f6-c85c-48f1-814d-c20bf4da4e2b",
                "name": "user_id",
                "value": "={{ $json.body.user_id }}",
                "type": "string"
              },
              {
                "id": "15f0e56b-e594-4274-941a-828d4a6c2cca",
                "name": "sessionId",
                "value": "={{$json.body.user_id}}_{{$json.body.book_id}} ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          0
        ],
        "id": "7c3a9af5-d868-4bc7-9b72-be37494d42b5",
        "name": "Config"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          160,
          224
        ],
        "id": "5ee7d264-d760-4bf7-b944-ff892c602536",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "BRRf66J5aSwt4UDP",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          288,
          224
        ],
        "id": "2a952fef-bd43-4cab-85a1-fac4cbda9492",
        "name": "Memory"
      },
      {
        "parameters": {
          "tableId": "chat_log",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $('Config').item.json.user_id }}"
              },
              {
                "fieldId": "user_question",
                "fieldValue": "={{ $('Config').item.json.user_message }}"
              },
              {
                "fieldId": "megyk_response",
                "fieldValue": "={{ $json.output }}"
              },
              {
                "fieldId": "book_id",
                "fieldValue": "={{ $('Config').item.json.book_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1008,
          0
        ],
        "id": "471de304-7c96-49e4-a55c-a405f0a82136",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Ollama": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version 600e19c2",
    "description": "",
    "autosaved": true
  },
  "tags": []
}