workflows/Delete_Instantly.ai_Leads.json
{
  "updatedAt": "2025-09-24T17:47:23.000Z",
  "createdAt": "2025-09-23T23:20:53.399Z",
  "id": "WUgARSC6xQr6VeOR",
  "name": "Delete Instantly.ai Leads",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9ab5854d-dc38-4654-ba8d-53bce18552c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": false,
              "responseFormat": "autodetect"
            }
          },
          "pagination": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "bb372f4c-c3d7-4f2d-8860-8fe19d193ead",
      "name": "List Leads",
      "credentials": {
        "httpBearerAuth": {
          "id": "8asfQkaSEq29AdUZ",
          "name": "Instantly Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "77fe3922-1eb9-4061-a37f-f4b05c17d058",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.instantly.ai/api/v2/leads/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        0
      ],
      "id": "0ed78ab0-a7f0-4b8d-8050-3ef6923b5a2b",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "Mt1IwL33UHovJk6K",
          "name": "Truelist.io API Key"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Leads": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7f8a6de4-a534-4bd8-9f01-89673e1b50c3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-23T23:20:53.411Z",
      "createdAt": "2025-09-23T23:20:53.411Z",
      "role": "workflow:owner",
      "workflowId": "WUgARSC6xQr6VeOR",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": null,
  "tags": []
}