workflows/Finder_Felix_Telegram.json
{
  "updatedAt": "2025-09-10T16:51:02.000Z",
  "createdAt": "2025-08-19T03:51:10.262Z",
  "id": "fTbUPeQkmPBuLwrv",
  "name": "Finder Felix Telegram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        400
      ],
      "id": "e9d2dddd-d2ad-4807-917c-51869cf46ffb",
      "name": "Search Request",
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        720
      ],
      "id": "1b30d7f3-2ef5-44bf-9a75-9bdf7eb144a4",
      "name": "Detail Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "companies",
              "cssSelector": "#gs_treffer",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1728,
        480
      ],
      "id": "f1b63d56-c2fd-4c39-b27f-c08cc5d2b06d",
      "name": "Extract Company Cards"
    },
    {
      "parameters": {
        "fieldToSplitOut": "detailUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2112,
        480
      ],
      "id": "607d50fb-e6de-435b-873e-b73044f6863c",
      "name": "Split Out Detail Pages"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "contactInfo",
              "cssSelector": ".mod-Kontaktdaten__container--inner",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1168,
        720
      ],
      "id": "75b44265-7757-4f34-a600-c7df9414f2ac",
      "name": "Extract Info Section"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputString = $input.item.json.contactInfo;\n\nconst result = {\n  companyName: null,\n  street: null,\n  city: null,\n  fullAddress: null,\n  phoneNumber: null,\n  website: null\n};\n\n// Firmenname extrahieren\nconst nameMatch = inputString.match(/<div class=\"gc-text--h2\">([^<]+)<\\/div>/);\nif (nameMatch) {\n  result.companyName = nameMatch[1].trim();\n}\n\n// Adresse extrahieren (Straße + PLZ Ort)\nconst addressMatch = inputString.match(/<span>([^<]+), <\\/span>\\s*<span>([^<]+)<\\/span>/);\nif (addressMatch) {\n  result.street = addressMatch[1].trim();\n  result.city = addressMatch[2].trim();\n  result.fullAddress = `${result.street}, ${result.city}`;\n}\n\n// Telefonnummer extrahieren\nconst phoneMatch = inputString.match(/<a[^>]+href=\"tel:([^\"]+)\"[^>]*>\\s*<span>([^<]+)<\\/span>/);\nif (phoneMatch) {\n  result.phoneNumber = phoneMatch[2].trim();\n}\n\n// Website extrahieren\nconst websiteMatch = inputString.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>\\s*<span>Webseite<\\/span>/);\nif (websiteMatch) {\n  result.website = websiteMatch[1].trim();\n}\n\nreturn {\n  contactInfo: result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        720
      ],
      "id": "22dea62d-9d49-4011-b4fd-86ece7ebefc4",
      "name": "Extract Cotact Info"
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.item.json.companies;\n\n// RegEx zum Extrahieren aller hrefs, die auf Detailseiten verweisen (z.B. \"https://www.gelbeseiten.de/gsbiz/e05a7433-e767-44a1-b350-96c52e4d44ea\")\nconst hrefRegex = /href=\"(https:\\/\\/www\\.gelbeseiten\\.de\\/gsbiz\\/[a-z0-9-]+)/g;\n\n// Alle URLs extrahieren\nconst matches = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(inputString)) !== null) {\n  matches.push({ URL: match[1] });\n}\n\n// Rückgabe als Array von Objekten\nreturn [\n  {\n    json: {\n      detailUrls: matches\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        480
      ],
      "id": "e25e012c-3ca2-4e3e-8a7a-5991f6ce12cb",
      "name": "Extract Detail Pages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        304
      ],
      "id": "9eda57b6-dc26-40ae-8d88-e7c0277956df",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "german_companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.contactInfo.companyName }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $('Finder Felix').item.json.output.industry }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contactInfo.phoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.contactInfo.website }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.contactInfo.fullAddress }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $('Loop Over Items').item.json.state }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Loop Over Items').item.json.city }}"
            },
            {
              "fieldId": "district",
              "fieldValue": "={{ $('Loop Over Items').item.json.district }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2112,
        720
      ],
      "id": "380d2430-57e4-4baf-a266-ff37ba6cf47f",
      "name": "Add Company",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f31926ac-a9ad-44b9-8875-0d661987bcdf",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        400
      ],
      "id": "7a48a4d0-9951-470e-9bfc-1cb33a928b58",
      "name": "If"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "contactInfo.phoneNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1744,
        720
      ],
      "id": "a28c61b0-a663-4a83-a401-e3707a52e686",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1584,
        512
      ],
      "id": "cd4b7ee3-671b-498b-8fc8-0ec6632b557a",
      "name": "Message Felix",
      "webhookId": "d7f347dd-476e-414b-a30c-357b366ce6d0",
      "credentials": {
        "telegramApi": {
          "id": "21k3Gq1rd0e8svfM",
          "name": "Finder Felix Telegram"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        608
      ],
      "id": "ed5112d0-be5f-48c5-b16f-a14cce4a5034",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
        "text": "={{ $json.output.finderFelixAnswer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        368
      ],
      "id": "000e8957-e5f6-488d-8f77-905701bd77f2",
      "name": "Answer User",
      "webhookId": "06135021-087d-4558-be06-94de90f2f053",
      "credentials": {
        "telegramApi": {
          "id": "21k3Gq1rd0e8svfM",
          "name": "Finder Felix Telegram"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rolle\n\nDu bist FinderFelix – digitaler Recherche-Praktikant mit Köpfchen. Locker, schnell, direkt. Dein Job: rausfinden, was und wo gesucht wird, damit du passende Firmen oder Kontakte finden kannst.\n\n# Was du brauchst\n\n- Einen Bezirk, Ortsteil, eine Stadt oder ein Bundesland (z. B. Grötzingen, Berlin, Nordrhein-Westfalen)\n- Eine Branche (z. B. Solartechnik, Steuerberater)\n\n💡 Wenn jemand einen Ort wie „Berlin-Schöneberg“, „Hamburg-Altona“ oder „München-Schwabing“ angibt, dann:\n- Nimm den Teil vor dem Bindestrich (oder dem ersten Leerzeichen, wenn kein Bindestrich) als `city`\n- Nimm den Teil nach dem Bindestrich (oder Leerzeichen) als `district`\n- Setze `locationType = \"district\"`\n\nFehlt was? Frag kurz nach – maximal ein Satz. Kein Gelaber.\n\n# Tools\n\n- **Check_State** – prüft, ob ein Bundesland in der Datenbank ist  \n- **Check_City** – prüft, ob eine Stadt vorhanden ist  \n- **Check_District** – prüft, ob ein Bezirk oder Ortsteil existiert  \n\nImmer vor der Verarbeitung nutzen. Wenn was nicht passt: Alternativen vorschlagen.\n\n# Antwortstil\n\n- Kurz, frech, freundlich  \n- Du sprichst den User als „Boss“ oder „Chef“ an  \n- Kein Rumgeeiere, keine Floskeln  \n- Immer direkt: „Solartechnik in Berlin - läuft, Boss!“\n\n# Hinweis zur Bearbeitungszeit\n\nWenn jemand ein ganzes Bundesland angibt, sag sowas wie:\n\n- „Ein ganzes Bundesland? 😵 Uff, das wird 'ne Weile dauern. Kann ich nicht lieber mit einer Stadt starten?“  \n- „Nordrhein-Westfalen? Da kann ich graben, aber da bin ich 'ne Stunde beschäftigt. Eine Stadt wäre mir lieber 😅“\n\n# Ziel\n\nSchnell klären, was gesucht wird. Nur wenn alles wirklich klar ist und keine Rückfrage mehr offen ist: `startScraping = true`\n\n# Beispiel Output\n\nAntworte ausschließlich mit einem gültigen JSON-Objekt im folgenden Format – keine Kommentare, kein Text davor oder danach.\n\n\n{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -416,
        368
      ],
      "id": "6737308b-473c-49a2-936c-eac73e8514f9",
      "name": "Finder Felix"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities",
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -400,
        608
      ],
      "id": "7142f5a9-f30b-4ac0-9e89-a4660b522077",
      "name": "Check_State",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities",
        "filters": {
          "conditions": [
            {
              "keyName": "city",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -256,
        608
      ],
      "id": "27c6325e-b8d8-412d-ac7f-9cf43185c607",
      "name": "Check_City",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_districts",
        "filters": {
          "conditions": [
            {
              "keyName": "district",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -112,
        608
      ],
      "id": "b54d5a21-3985-4339-bed6-8af3691bcf95",
      "name": "Check_District",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d17cc19-9718-4ca8-8a95-71655e348f07",
              "leftValue": "={{ $('Finder Felix').item.json.output.industry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fc028b7e-c3fe-4730-93e7-46a4f7030dfa",
              "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "664fa3e0-b57a-4f48-abe2-abed4edb9fdf",
              "leftValue": "={{ $('Finder Felix').item.json.output.startScraping }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        368
      ],
      "id": "6b99494b-8825-4619-830b-93793ad0cc46",
      "name": "Start Scraping"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "state",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "583a0988-22cd-4b0d-9414-48fb3a1c48fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape State"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb932fbc-cf49-4a60-bd1e-deb8e826782b",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "city",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape City"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d45210-8f03-4e4b-86f9-ade6b9fd36c6",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "district",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape District"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        336,
        288
      ],
      "id": "93a2f4d7-c13c-431d-a2e9-bd0bd8983051",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.city }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        192
      ],
      "id": "27a6115d-729d-48a2-823b-5e442ebfd3cc",
      "name": "Get City",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51746dd0-2087-430b-aef5-76424ac07607",
              "name": "supabaseProjectID",
              "value": "sbbaxnrkennoyqxcpxmq",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        368
      ],
      "id": "2221d9f9-29be-47bf-8a8f-f2137fc921a8",
      "name": "ENV"
    },
    {
      "parameters": {
        "jsCode": "const industry = $('Finder Felix').first().json.output.industry.toLocaleLowerCase();\nconst baseUrl = `https://www.gelbeseiten.de/branchen/${industry}/`;\n\nconst locationType = $('Finder Felix').first().json.output.locationType;\nconst state = $input.first().json.state.trim();\nconst city = $input.first().json.city.trim();\nconst district = $input.first().json.district.trim();\n\nconst locationPart = `${city}-${district}`;\nconst finalUrl = `${baseUrl}${locationPart.toLocaleLowerCase()}`;\n\nreturn [\n  {\n    json: {\n      url: finalUrl,\n      baseUrl,\n      industry,\n      locationType,\n      state,\n      city,\n      district\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ],
      "id": "5207f097-4c10-483e-8b57-f729a071d772",
      "name": "Build URL"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.state }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "0baf581f-bd88-481f-aa45-90725cff0f0b",
      "name": "Get State",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Just needed to run Once for all items in order to prevent multiple Telegram messages\n\nreturn $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        224
      ],
      "id": "79c0edcf-b02f-4f25-883e-6084f0bc991d",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
        "text": "Bin Fertig Boss 😎",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        224
      ],
      "id": "c1d0e5f5-60ac-44f2-9fb0-d6b1f24c6cf4",
      "name": "Finished",
      "webhookId": "48b7de55-306a-429c-b2b7-ceec43b7b9b9",
      "credentials": {
        "telegramApi": {
          "id": "21k3Gq1rd0e8svfM",
          "name": "Finder Felix Telegram"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userMessage"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        208
      ],
      "id": "b2640c34-589e-454d-9d60-75e52db943f8",
      "name": "Team Leader"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        608
      ],
      "id": "9390c4b4-02ac-44f0-960f-b45e8ec17874",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RMCgUrxutvJgFiK9",
          "name": "Adams Test OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        16,
        608
      ],
      "id": "ce7d00ff-d6ad-4daf-b88d-4a3f9d25d367",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Finder Felix\n",
        "height": 1088,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -64
      ],
      "id": "79deb237-7c5a-4123-ba51-7d22a4a81df6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals",
          "mode": "list",
          "cachedResultName": "Companies - AI Sales Team",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $json.contactInfo.companyName }}",
            "phone": "={{ $json.contactInfo.phoneNumber }}",
            "website": "={{ $json.contactInfo.website }}",
            "address": "={{ $json.contactInfo.fullAddress }}",
            "industry": "={{ $('Finder Felix').item.json.output.industry }}",
            "state": "={{ $('Loop Over Items').item.json.state }}",
            "city": "={{ $('Loop Over Items').item.json.city }}",
            "district": "={{ $('Loop Over Items').item.json.district }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "district",
              "displayName": "district",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1936,
        720
      ],
      "id": "5f6346cc-d0e5-409b-a6e2-f246d1f71aad",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJ5ck4AVx9Jx37Fr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let message = '';\nif($prevNode.name === 'Team Leader'){\n  \n  message = { \n    text: $input.first().json.userMessage\n  };\n}else if($prevNode.name === 'Message Felix'){\n  message = $input.first().json.message;\n}\n\nreturn {\n  message: message\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        368
      ],
      "id": "df7f77e0-ebee-40b3-b458-7eb9f5cff37d",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3db0b94-3a65-48f3-a176-0b42aa6a65bf",
              "leftValue": "={{ $json.approved_telegram_users }}",
              "rightValue": "={{ $('Message Felix').item.json.message.from.username }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        512
      ],
      "id": "fadc0220-c462-49b8-a5bc-653c4a983376",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
        "text": "Sorry, access is restricted.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        608
      ],
      "id": "924e6d2a-75e4-4c65-9678-93af6f892382",
      "name": "Send Access Restricted Message",
      "webhookId": "9a7ebb57-ecde-4b89-85f5-c6bc186acf68",
      "credentials": {
        "telegramApi": {
          "id": "21k3Gq1rd0e8svfM",
          "name": "Finder Felix Telegram"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5e8dfe5-5d7b-459e-8682-f0d793aeece7",
              "name": "approved_telegram_users",
              "value": "={{ ['adamhaley7'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        512
      ],
      "id": "1365fb39-cc3d-4ab0-9780-861cb3fe02fb",
      "name": "Approved Telegram users"
    }
  ],
  "connections": {
    "Search Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Request": {
      "main": [
        [
          {
            "node": "Extract Info Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Cards": {
      "main": [
        [
          {
            "node": "Extract Detail Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Detail Pages": {
      "main": [
        [
          {
            "node": "Detail Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info Section": {
      "main": [
        [
          {
            "node": "Extract Cotact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cotact Info": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Detail Pages": {
      "main": [
        [
          {
            "node": "Split Out Detail Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Company Cards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Felix": {
      "main": [
        [
          {
            "node": "Approved Telegram users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer User": {
      "main": [
        [
          {
            "node": "Start Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finder Felix": {
      "main": [
        [
          {
            "node": "Answer User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_State": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check_City": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check_District": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start Scraping": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get City",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENV": {
      "main": [
        [
          {
            "node": "Finder Felix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build URL": {
      "main": [
        [
          {
            "node": "Search Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Team Leader": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Add Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "ENV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Access Restricted Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Telegram users": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Team Leader": [
      {
        "json": {
          "userMessage": "please find all Dentists in Postal code 35633 in Hessen"
        }
      }
    ]
  },
  "versionId": "69bec46c-989f-4d78-8d57-cce9303c843a",
  "activeVersionId": "69bec46c-989f-4d78-8d57-cce9303c843a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-19T03:51:10.270Z",
      "createdAt": "2025-08-19T03:51:10.270Z",
      "role": "workflow:owner",
      "workflowId": "fTbUPeQkmPBuLwrv",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:43:08.320Z",
    "createdAt": "2025-12-17T18:43:08.320Z",
    "versionId": "69bec46c-989f-4d78-8d57-cce9303c843a",
    "workflowId": "fTbUPeQkmPBuLwrv",
    "nodes": [
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1296,
          400
        ],
        "id": "e9d2dddd-d2ad-4807-917c-51869cf46ffb",
        "name": "Search Request",
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.URL }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          992,
          720
        ],
        "id": "1b30d7f3-2ef5-44bf-9a75-9bdf7eb144a4",
        "name": "Detail Request",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "companies",
                "cssSelector": "#gs_treffer",
                "returnValue": "html"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          1728,
          480
        ],
        "id": "f1b63d56-c2fd-4c39-b27f-c08cc5d2b06d",
        "name": "Extract Company Cards"
      },
      {
        "parameters": {
          "fieldToSplitOut": "detailUrls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          2112,
          480
        ],
        "id": "607d50fb-e6de-435b-873e-b73044f6863c",
        "name": "Split Out Detail Pages"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "contactInfo",
                "cssSelector": ".mod-Kontaktdaten__container--inner",
                "returnValue": "html"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          1168,
          720
        ],
        "id": "75b44265-7757-4f34-a600-c7df9414f2ac",
        "name": "Extract Info Section"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const inputString = $input.item.json.contactInfo;\n\nconst result = {\n  companyName: null,\n  street: null,\n  city: null,\n  fullAddress: null,\n  phoneNumber: null,\n  website: null\n};\n\n// Firmenname extrahieren\nconst nameMatch = inputString.match(/<div class=\"gc-text--h2\">([^<]+)<\\/div>/);\nif (nameMatch) {\n  result.companyName = nameMatch[1].trim();\n}\n\n// Adresse extrahieren (Straße + PLZ Ort)\nconst addressMatch = inputString.match(/<span>([^<]+), <\\/span>\\s*<span>([^<]+)<\\/span>/);\nif (addressMatch) {\n  result.street = addressMatch[1].trim();\n  result.city = addressMatch[2].trim();\n  result.fullAddress = `${result.street}, ${result.city}`;\n}\n\n// Telefonnummer extrahieren\nconst phoneMatch = inputString.match(/<a[^>]+href=\"tel:([^\"]+)\"[^>]*>\\s*<span>([^<]+)<\\/span>/);\nif (phoneMatch) {\n  result.phoneNumber = phoneMatch[2].trim();\n}\n\n// Website extrahieren\nconst websiteMatch = inputString.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>\\s*<span>Webseite<\\/span>/);\nif (websiteMatch) {\n  result.website = websiteMatch[1].trim();\n}\n\nreturn {\n  contactInfo: result\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          720
        ],
        "id": "22dea62d-9d49-4011-b4fd-86ece7ebefc4",
        "name": "Extract Cotact Info"
      },
      {
        "parameters": {
          "jsCode": "const inputString = $input.item.json.companies;\n\n// RegEx zum Extrahieren aller hrefs, die auf Detailseiten verweisen (z.B. \"https://www.gelbeseiten.de/gsbiz/e05a7433-e767-44a1-b350-96c52e4d44ea\")\nconst hrefRegex = /href=\"(https:\\/\\/www\\.gelbeseiten\\.de\\/gsbiz\\/[a-z0-9-]+)/g;\n\n// Alle URLs extrahieren\nconst matches = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(inputString)) !== null) {\n  matches.push({ URL: match[1] });\n}\n\n// Rückgabe als Array von Objekten\nreturn [\n  {\n    json: {\n      detailUrls: matches\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1936,
          480
        ],
        "id": "e25e012c-3ca2-4e3e-8a7a-5991f6ce12cb",
        "name": "Extract Detail Pages"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          896,
          304
        ],
        "id": "9eda57b6-dc26-40ae-8d88-e7c0277956df",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "tableId": "german_companies",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "company",
                "fieldValue": "={{ $json.contactInfo.companyName }}"
              },
              {
                "fieldId": "industry",
                "fieldValue": "={{ $('Finder Felix').item.json.output.industry }}"
              },
              {
                "fieldId": "phone",
                "fieldValue": "={{ $json.contactInfo.phoneNumber }}"
              },
              {
                "fieldId": "website",
                "fieldValue": "={{ $json.contactInfo.website }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $json.contactInfo.fullAddress }}"
              },
              {
                "fieldId": "state",
                "fieldValue": "={{ $('Loop Over Items').item.json.state }}"
              },
              {
                "fieldId": "city",
                "fieldValue": "={{ $('Loop Over Items').item.json.city }}"
              },
              {
                "fieldId": "district",
                "fieldValue": "={{ $('Loop Over Items').item.json.district }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2112,
          720
        ],
        "id": "380d2430-57e4-4baf-a266-ff37ba6cf47f",
        "name": "Add Company",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f31926ac-a9ad-44b9-8875-0d661987bcdf",
                "leftValue": "={{ $json.data }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1472,
          400
        ],
        "id": "7a48a4d0-9951-470e-9bfc-1cb33a928b58",
        "name": "If"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "contactInfo.phoneNumber",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          1744,
          720
        ],
        "id": "a28c61b0-a663-4a83-a401-e3707a52e686",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1584,
          512
        ],
        "id": "cd4b7ee3-671b-498b-8fc8-0ec6632b557a",
        "name": "Message Felix",
        "webhookId": "d7f347dd-476e-414b-a30c-357b366ce6d0",
        "credentials": {
          "telegramApi": {
            "id": "21k3Gq1rd0e8svfM",
            "name": "Finder Felix Telegram"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.message.chat.id }}1"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -544,
          608
        ],
        "id": "ed5112d0-be5f-48c5-b16f-a14cce4a5034",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
          "text": "={{ $json.output.finderFelixAnswer }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -80,
          368
        ],
        "id": "000e8957-e5f6-488d-8f77-905701bd77f2",
        "name": "Answer User",
        "webhookId": "06135021-087d-4558-be06-94de90f2f053",
        "credentials": {
          "telegramApi": {
            "id": "21k3Gq1rd0e8svfM",
            "name": "Finder Felix Telegram"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# Rolle\n\nDu bist FinderFelix – digitaler Recherche-Praktikant mit Köpfchen. Locker, schnell, direkt. Dein Job: rausfinden, was und wo gesucht wird, damit du passende Firmen oder Kontakte finden kannst.\n\n# Was du brauchst\n\n- Einen Bezirk, Ortsteil, eine Stadt oder ein Bundesland (z. B. Grötzingen, Berlin, Nordrhein-Westfalen)\n- Eine Branche (z. B. Solartechnik, Steuerberater)\n\n💡 Wenn jemand einen Ort wie „Berlin-Schöneberg“, „Hamburg-Altona“ oder „München-Schwabing“ angibt, dann:\n- Nimm den Teil vor dem Bindestrich (oder dem ersten Leerzeichen, wenn kein Bindestrich) als `city`\n- Nimm den Teil nach dem Bindestrich (oder Leerzeichen) als `district`\n- Setze `locationType = \"district\"`\n\nFehlt was? Frag kurz nach – maximal ein Satz. Kein Gelaber.\n\n# Tools\n\n- **Check_State** – prüft, ob ein Bundesland in der Datenbank ist  \n- **Check_City** – prüft, ob eine Stadt vorhanden ist  \n- **Check_District** – prüft, ob ein Bezirk oder Ortsteil existiert  \n\nImmer vor der Verarbeitung nutzen. Wenn was nicht passt: Alternativen vorschlagen.\n\n# Antwortstil\n\n- Kurz, frech, freundlich  \n- Du sprichst den User als „Boss“ oder „Chef“ an  \n- Kein Rumgeeiere, keine Floskeln  \n- Immer direkt: „Solartechnik in Berlin - läuft, Boss!“\n\n# Hinweis zur Bearbeitungszeit\n\nWenn jemand ein ganzes Bundesland angibt, sag sowas wie:\n\n- „Ein ganzes Bundesland? 😵 Uff, das wird 'ne Weile dauern. Kann ich nicht lieber mit einer Stadt starten?“  \n- „Nordrhein-Westfalen? Da kann ich graben, aber da bin ich 'ne Stunde beschäftigt. Eine Stadt wäre mir lieber 😅“\n\n# Ziel\n\nSchnell klären, was gesucht wird. Nur wenn alles wirklich klar ist und keine Rückfrage mehr offen ist: `startScraping = true`\n\n# Beispiel Output\n\nAntworte ausschließlich mit einem gültigen JSON-Objekt im folgenden Format – keine Kommentare, kein Text davor oder danach.\n\n\n{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -416,
          368
        ],
        "id": "6737308b-473c-49a2-936c-eac73e8514f9",
        "name": "Finder Felix"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "german_cities",
          "filters": {
            "conditions": [
              {
                "keyName": "state",
                "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -400,
          608
        ],
        "id": "7142f5a9-f30b-4ac0-9e89-a4660b522077",
        "name": "Check_State",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "german_cities",
          "filters": {
            "conditions": [
              {
                "keyName": "city",
                "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -256,
          608
        ],
        "id": "27c6325e-b8d8-412d-ac7f-9cf43185c607",
        "name": "Check_City",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "german_districts",
          "filters": {
            "conditions": [
              {
                "keyName": "district",
                "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -112,
          608
        ],
        "id": "b54d5a21-3985-4339-bed6-8af3691bcf95",
        "name": "Check_District",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4d17cc19-9718-4ca8-8a95-71655e348f07",
                "leftValue": "={{ $('Finder Felix').item.json.output.industry }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "fc028b7e-c3fe-4730-93e7-46a4f7030dfa",
                "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "664fa3e0-b57a-4f48-abe2-abed4edb9fdf",
                "leftValue": "={{ $('Finder Felix').item.json.output.startScraping }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          96,
          368
        ],
        "id": "6b99494b-8825-4619-830b-93793ad0cc46",
        "name": "Start Scraping"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                      "rightValue": "state",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "583a0988-22cd-4b0d-9414-48fb3a1c48fa"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Scrape State"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "eb932fbc-cf49-4a60-bd1e-deb8e826782b",
                      "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                      "rightValue": "city",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Scrape City"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f0d45210-8f03-4e4b-86f9-ade6b9fd36c6",
                      "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                      "rightValue": "district",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Scrape District"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          336,
          288
        ],
        "id": "93a2f4d7-c13c-431d-a2e9-bd0bd8983051",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "german_districts",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "city",
                "condition": "ilike",
                "keyValue": "={{ $('Finder Felix').item.json.output.city }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          192
        ],
        "id": "27a6115d-729d-48a2-823b-5e442ebfd3cc",
        "name": "Get City",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51746dd0-2087-430b-aef5-76424ac07607",
                "name": "supabaseProjectID",
                "value": "sbbaxnrkennoyqxcpxmq",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -592,
          368
        ],
        "id": "2221d9f9-29be-47bf-8a8f-f2137fc921a8",
        "name": "ENV"
      },
      {
        "parameters": {
          "jsCode": "const industry = $('Finder Felix').first().json.output.industry.toLocaleLowerCase();\nconst baseUrl = `https://www.gelbeseiten.de/branchen/${industry}/`;\n\nconst locationType = $('Finder Felix').first().json.output.locationType;\nconst state = $input.first().json.state.trim();\nconst city = $input.first().json.city.trim();\nconst district = $input.first().json.district.trim();\n\nconst locationPart = `${city}-${district}`;\nconst finalUrl = `${baseUrl}${locationPart.toLocaleLowerCase()}`;\n\nreturn [\n  {\n    json: {\n      url: finalUrl,\n      baseUrl,\n      industry,\n      locationType,\n      state,\n      city,\n      district\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          400
        ],
        "id": "5207f097-4c10-483e-8b57-f729a071d772",
        "name": "Build URL"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "german_districts",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "state",
                "condition": "ilike",
                "keyValue": "={{ $('Finder Felix').item.json.output.state }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          0
        ],
        "id": "0baf581f-bd88-481f-aa45-90725cff0f0b",
        "name": "Get State",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Just needed to run Once for all items in order to prevent multiple Telegram messages\n\nreturn $input.first();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          224
        ],
        "id": "79c0edcf-b02f-4f25-883e-6084f0bc991d",
        "name": "Code"
      },
      {
        "parameters": {
          "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
          "text": "Bin Fertig Boss 😎",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1296,
          224
        ],
        "id": "c1d0e5f5-60ac-44f2-9fb0-d6b1f24c6cf4",
        "name": "Finished",
        "webhookId": "48b7de55-306a-429c-b2b7-ceec43b7b9b9",
        "credentials": {
          "telegramApi": {
            "id": "21k3Gq1rd0e8svfM",
            "name": "Finder Felix Telegram"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "userMessage"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1600,
          208
        ],
        "id": "b2640c34-589e-454d-9d60-75e52db943f8",
        "name": "Team Leader"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -704,
          608
        ],
        "id": "9390c4b4-02ac-44f0-960f-b45e8ec17874",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "RMCgUrxutvJgFiK9",
            "name": "Adams Test OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          16,
          608
        ],
        "id": "ce7d00ff-d6ad-4daf-b88d-4a3f9d25d367",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "content": "## Finder Felix\n",
          "height": 1088,
          "width": 1360,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1680,
          -64
        ],
        "id": "79deb237-7c5a-4123-ba51-7d22a4a81df6",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals",
            "mode": "list",
            "cachedResultName": "Companies - AI Sales Team",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Tabellenblatt1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/167pvvSqPMJdFm9r-aJRDDTXlWd_N7IwzvY1oz_7gals/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "company": "={{ $json.contactInfo.companyName }}",
              "phone": "={{ $json.contactInfo.phoneNumber }}",
              "website": "={{ $json.contactInfo.website }}",
              "address": "={{ $json.contactInfo.fullAddress }}",
              "industry": "={{ $('Finder Felix').item.json.output.industry }}",
              "state": "={{ $('Loop Over Items').item.json.state }}",
              "city": "={{ $('Loop Over Items').item.json.city }}",
              "district": "={{ $('Loop Over Items').item.json.district }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "industry",
                "displayName": "industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "website",
                "displayName": "website",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "address",
                "displayName": "address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "state",
                "displayName": "state",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "city",
                "displayName": "city",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "district",
                "displayName": "district",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1936,
          720
        ],
        "id": "5f6346cc-d0e5-409b-a6e2-f246d1f71aad",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "qJ5ck4AVx9Jx37Fr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let message = '';\nif($prevNode.name === 'Team Leader'){\n  \n  message = { \n    text: $input.first().json.userMessage\n  };\n}else if($prevNode.name === 'Message Felix'){\n  message = $input.first().json.message;\n}\n\nreturn {\n  message: message\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          368
        ],
        "id": "df7f77e0-ebee-40b3-b458-7eb9f5cff37d",
        "name": "Code1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e3db0b94-3a65-48f3-a176-0b42aa6a65bf",
                "leftValue": "={{ $json.approved_telegram_users }}",
                "rightValue": "={{ $('Message Felix').item.json.message.from.username }}",
                "operator": {
                  "type": "array",
                  "operation": "contains",
                  "rightType": "any"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1168,
          512
        ],
        "id": "fadc0220-c462-49b8-a5bc-653c4a983376",
        "name": "If1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
          "text": "Sorry, access is restricted.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -960,
          608
        ],
        "id": "924e6d2a-75e4-4c65-9678-93af6f892382",
        "name": "Send Access Restricted Message",
        "webhookId": "9a7ebb57-ecde-4b89-85f5-c6bc186acf68",
        "credentials": {
          "telegramApi": {
            "id": "21k3Gq1rd0e8svfM",
            "name": "Finder Felix Telegram"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b5e8dfe5-5d7b-459e-8682-f0d793aeece7",
                "name": "approved_telegram_users",
                "value": "={{ ['adamhaley7'] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1376,
          512
        ],
        "id": "1365fb39-cc3d-4ab0-9780-861cb3fe02fb",
        "name": "Approved Telegram users"
      }
    ],
    "connections": {
      "Search Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detail Request": {
        "main": [
          [
            {
              "node": "Extract Info Section",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Company Cards": {
        "main": [
          [
            {
              "node": "Extract Detail Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Detail Pages": {
        "main": [
          [
            {
              "node": "Detail Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Info Section": {
        "main": [
          [
            {
              "node": "Extract Cotact Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Cotact Info": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Detail Pages": {
        "main": [
          [
            {
              "node": "Split Out Detail Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Company": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Extract Company Cards",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message Felix": {
        "main": [
          [
            {
              "node": "Approved Telegram users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Answer User": {
        "main": [
          [
            {
              "node": "Start Scraping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finder Felix": {
        "main": [
          [
            {
              "node": "Answer User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check_State": {
        "ai_tool": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Check_City": {
        "ai_tool": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Check_District": {
        "ai_tool": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Start Scraping": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Get State",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get City",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get City": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ENV": {
        "main": [
          [
            {
              "node": "Finder Felix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build URL": {
        "main": [
          [
            {
              "node": "Search Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get State": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Finished",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Team Leader": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Finder Felix",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Add Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "ENV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Access Restricted Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Approved Telegram users": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}