workflows/Get_Summary_PDF_v3_Wrapper.json
{
  "updatedAt": "2025-12-20T23:24:18.539Z",
  "createdAt": "2025-12-17T18:31:49.976Z",
  "id": "OQIV3gBXzBvneVjw",
  "name": "Get Summary PDF v3 Wrapper",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "402f3f5c-02e1-493b-ab1e-81db7f5daa54",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a699b957-57c8-4c4b-97b9-5ce769a8121a",
      "name": "Webhook",
      "webhookId": "402f3f5c-02e1-493b-ab1e-81db7f5daa54"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "icF28UmruuHgkDgd",
          "mode": "list",
          "cachedResultUrl": "/workflow/icF28UmruuHgkDgd",
          "cachedResultName": "Get Summary PDF v3 CORE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "6e7b79be-925e-4936-948d-4fd847dd0e77",
      "name": "Call 'Get Summary PDF v3 CORE'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.megyk.com/html-to-pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "6099fd00-2478-42fc-bb6e-d3784d245c78",
      "name": "HTML 2 PDF Service",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AK2nObMbf1AjgZti",
          "name": "PDF Service API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93bcaa67-5d39-4eee-96ce-900e357530cc",
              "name": "html",
              "value": "={{ $json.html }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "2ef1beff-f5a6-4159-a2b2-d39c42954c2e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"document.pdf\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        0
      ],
      "id": "03780065-4d55-400a-af9c-fc1f5a42f90d",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'Get Summary PDF v3 CORE'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 2 PDF Service": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML 2 PDF Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Summary PDF v3 CORE'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "node",
            "content-length": "196",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "4.43.180.94",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "book_id": "3463504a-9b27-46f9-b7a2-3e7c235e58cd",
            "preferences": {
              "style": "bullet_points",
              "length": "medium"
            },
            "user_id": "bfb1e2f2-353c-4cf7-807e-4be63ed7cfff",
            "timestamp": "2025-12-20T23:15:18.370Z"
          },
          "webhookUrl": "https://n8n.megyk.com/webhook/get_summary_v3",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ff1ea163-ee46-4db2-aa0c-bbf967f86624",
  "activeVersionId": "b3e873c1-4a56-457d-ad1d-f3fc948a6eaa",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-17T18:31:49.984Z",
      "createdAt": "2025-12-17T18:31:49.984Z",
      "role": "workflow:owner",
      "workflowId": "OQIV3gBXzBvneVjw",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-18T00:07:32.000Z",
    "createdAt": "2025-12-18T00:07:28.086Z",
    "versionId": "b3e873c1-4a56-457d-ad1d-f3fc948a6eaa",
    "workflowId": "OQIV3gBXzBvneVjw",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "get_summary_v3",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "a699b957-57c8-4c4b-97b9-5ce769a8121a",
        "name": "Webhook",
        "webhookId": "402f3f5c-02e1-493b-ab1e-81db7f5daa54"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "icF28UmruuHgkDgd",
            "mode": "list",
            "cachedResultUrl": "/workflow/icF28UmruuHgkDgd",
            "cachedResultName": "Get Summary PDF v3 CORE"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          224,
          0
        ],
        "id": "6e7b79be-925e-4936-948d-4fd847dd0e77",
        "name": "Call 'Get Summary PDF v3 CORE'"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pdf.megyk.com/html-to-pdf",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "html",
                "value": "={{ $json.html }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          672,
          0
        ],
        "id": "6099fd00-2478-42fc-bb6e-d3784d245c78",
        "name": "HTML 2 PDF Service",
        "credentials": {
          "httpHeaderAuth": {
            "id": "AK2nObMbf1AjgZti",
            "name": "PDF Service API Key"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93bcaa67-5d39-4eee-96ce-900e357530cc",
                "name": "html",
                "value": "={{ $json.html }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          0
        ],
        "id": "2ef1beff-f5a6-4159-a2b2-d39c42954c2e",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "respondWith": "binary",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/pdf"
                },
                {
                  "name": "Content-Disposition",
                  "value": "attachment; filename=\"document.pdf\""
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          896,
          0
        ],
        "id": "03780065-4d55-400a-af9c-fc1f5a42f90d",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Call 'Get Summary PDF v3 CORE'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML 2 PDF Service": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTML 2 PDF Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Get Summary PDF v3 CORE'": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version b3e873c1",
    "description": "",
    "autosaved": false
  },
  "tags": []
}