workflows/Loop_->_Enrich.json
{
  "updatedAt": "2026-02-05T00:24:40.817Z",
  "createdAt": "2026-02-04T23:33:18.762Z",
  "id": "MVZcq4nGbxJUmhdoCrUSm",
  "name": "Loop -> Enrich",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f92b8b6-92e7-4c4c-86f5-23efc2797c6f",
              "leftValue": "={{ $json.website }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        16,
        -160
      ],
      "id": "bf216725-c7ae-4a14-8432-3c51e8e96a20",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM",
          "mode": "list",
          "cachedResultName": "US Financial Advisors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "row_number",
              "lookupValue": "={{ Number($json.us_advisors_enriched)}}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -160
      ],
      "id": "7d36064e-3437-4f1f-a643-11969f769b0c",
      "name": "Get Records",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJ5ck4AVx9Jx37Fr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        -352
      ],
      "id": "71f6c2b2-c3e1-431a-9ade-5f6fa46c3abc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "us_advisors_enriched"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -464,
        -160
      ],
      "id": "745bd1ec-d3a1-4315-8a06-b2b677e01d24",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "YhGZ2V2NRW4flPo5",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MshVZ02JHbNUnD6KqWGfF",
          "mode": "list",
          "cachedResultUrl": "/workflow/MshVZ02JHbNUnD6KqWGfF",
          "cachedResultName": "Enrich Financial Advisors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        -160
      ],
      "id": "6390408f-084a-40fd-9a67-75f10afb9460",
      "name": "Call 'Enrich Financial Advisors'"
    }
  ],
  "connections": {
    "Get Records": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Get Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Call 'Enrich Financial Advisors'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ffb8f5b2-fe85-4752-8f6e-55f92625a336",
  "activeVersionId": "ffb8f5b2-fe85-4752-8f6e-55f92625a336",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-04T23:33:18.770Z",
      "createdAt": "2026-02-04T23:33:18.770Z",
      "role": "workflow:owner",
      "workflowId": "MVZcq4nGbxJUmhdoCrUSm",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-05T00:35:50.000Z",
    "createdAt": "2026-02-05T00:24:40.818Z",
    "versionId": "ffb8f5b2-fe85-4752-8f6e-55f92625a336",
    "workflowId": "MVZcq4nGbxJUmhdoCrUSm",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5f92b8b6-92e7-4c4c-86f5-23efc2797c6f",
                "leftValue": "={{ $json.website }}",
                "rightValue": "http",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          16,
          -160
        ],
        "id": "bf216725-c7ae-4a14-8432-3c51e8e96a20",
        "name": "Filter"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM",
            "mode": "list",
            "cachedResultName": "US Financial Advisors",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Tabellenblatt1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhYJZddcb7UaSJiwOed8vKKJQdePFN9C7MruYzSwMvM/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "row_number",
                "lookupValue": "={{ Number($json.us_advisors_enriched)}}"
              }
            ]
          },
          "options": {
            "returnFirstMatch": false
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -208,
          -160
        ],
        "id": "7d36064e-3437-4f1f-a643-11969f769b0c",
        "name": "Get Records",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "qJ5ck4AVx9Jx37Fr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -864,
          -352
        ],
        "id": "71f6c2b2-c3e1-431a-9ade-5f6fa46c3abc",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "incr",
          "key": "us_advisors_enriched"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -464,
          -160
        ],
        "id": "745bd1ec-d3a1-4315-8a06-b2b677e01d24",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "YhGZ2V2NRW4flPo5",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MshVZ02JHbNUnD6KqWGfF",
            "mode": "list",
            "cachedResultUrl": "/workflow/MshVZ02JHbNUnD6KqWGfF",
            "cachedResultName": "Enrich Financial Advisors"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          240,
          -160
        ],
        "id": "6390408f-084a-40fd-9a67-75f10afb9460",
        "name": "Call 'Enrich Financial Advisors'"
      }
    ],
    "connections": {
      "Get Records": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Get Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Call 'Enrich Financial Advisors'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version ffb8f5b2",
    "description": "",
    "autosaved": true
  },
  "tags": []
}