workflows/Monthly_Credit_Reset.json
{
  "updatedAt": "2026-05-02T21:07:32.132Z",
  "createdAt": "2026-05-02T20:27:19.174Z",
  "id": "3SMNUAbJJAqsQcI9",
  "name": "Monthly Credit Reset",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a78b21f-f0d0-4bdb-9074-8ee569483a6b",
              "name": "monthly_amount",
              "value": 500,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "35143e42-5272-48ba-88e1-0fc032b1fea2",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.megyk.com/api/internal/credits/monthly-cycle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_key",
              "value": "={{ $now.format('y') + '-' + $now.format('MM') }}"
            },
            {
              "name": "monthly_amount",
              "value": "={{ $json.monthly_amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "46715629-da62-4fda-9525-44a5aa2fd1ba",
      "name": "Call MC Reset Endpoint",
      "credentials": {
        "httpBearerAuth": {
          "id": "FBsCyDepwrGXJanD",
          "name": "Megyk MC Credit Reset Token"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d9e23b7c-c1c9-44da-b705-408180c24a61",
      "name": "Monthly Trigger"
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Call MC Reset Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "WbISMAIlclQfzorG",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Monthly Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "b9a0c5e9-0a98-48cd-87b9-f16c3fa14100",
  "activeVersionId": "b9a0c5e9-0a98-48cd-87b9-f16c3fa14100",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-02T20:27:19.180Z",
      "createdAt": "2026-05-02T20:27:19.180Z",
      "role": "workflow:owner",
      "workflowId": "3SMNUAbJJAqsQcI9",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-02T21:07:44.000Z",
    "createdAt": "2026-05-02T21:07:32.135Z",
    "versionId": "b9a0c5e9-0a98-48cd-87b9-f16c3fa14100",
    "workflowId": "3SMNUAbJJAqsQcI9",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2a78b21f-f0d0-4bdb-9074-8ee569483a6b",
                "name": "monthly_amount",
                "value": 500,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "35143e42-5272-48ba-88e1-0fc032b1fea2",
        "name": "Config"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.megyk.com/api/internal/credits/monthly-cycle",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cycle_key",
                "value": "={{ $now.format('y') + '-' + $now.format('MM') }}"
              },
              {
                "name": "monthly_amount",
                "value": "={{ $json.monthly_amount }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          416,
          0
        ],
        "id": "46715629-da62-4fda-9525-44a5aa2fd1ba",
        "name": "Call MC Reset Endpoint",
        "credentials": {
          "httpBearerAuth": {
            "id": "FBsCyDepwrGXJanD",
            "name": "Megyk MC Credit Reset Token"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "d9e23b7c-c1c9-44da-b705-408180c24a61",
        "name": "Monthly Trigger"
      }
    ],
    "connections": {
      "Config": {
        "main": [
          [
            {
              "node": "Call MC Reset Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monthly Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version b9a0c5e9",
    "description": "",
    "autosaved": true
  },
  "tags": []
}