workflows/Summarize_Book_Optimized_v1.json
{
  "updatedAt": "2025-12-03T05:02:28.000Z",
  "createdAt": "2025-11-02T22:30:13.728Z",
  "id": "mGK2IWUWOiqR0WAh",
  "name": "Summarize Book Optimized v1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Load Book from Vector Store, summarize",
        "height": 448,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        -240
      ],
      "id": "df9497f7-c5ad-4b08-857f-d9131c247482",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst chapters = data.chapters_summary || [];\nconst bookSummary = data.complete_book_summary || \"\";\nconst bookTitle = data.book_title || \"Study Workbook\";\nconst accent = \"#264653\";\n\n// Helper to clean chapter titles\nfunction cleanTitle(title = \"\", index) {\n  return title.replace(/^(Chapter\\s*\\d+[:.\\-]?\\s*|[0-9IVXLCDM]+\\s+)/i, \"\").trim();\n}\n\n// Build Table of Contents\nconst toc = chapters\n  .map(ch => `<li>${cleanTitle(ch.title)}</li>`)\n  .join(\"\");\n\n// Build global index\nconst indexEntries = [];\n\n\nlet title = $(\"Merge\").first().json.title;\nlet author = $(\"Merge\").first().json.author;\n\n\n\n\nlet html = `\n<html>\n<head>\n  <style>\n    :root { --accent: ${accent}; }\n    body {\n      font-family: \"Helvetica Neue\", Arial, sans-serif;\n      padding: 40px;\n      color: #333;\n      line-height: 1.6;\n    }\n    h1, h2, h3 { color: var(--accent); }\n    h1 {\n      text-align: center;\n      border-bottom: 3px solid var(--accent);\n      padding-bottom: 10px;\n      margin-bottom: 30px;\n    }\n    h2 {\n      border-bottom: 1px solid #ccc;\n      padding-bottom: 4px;\n      margin-top: 40px;\n    }\n    h3 { margin-top: 25px; }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n      font-size: 0.95em;\n    }\n    td, th {\n      border: 1px solid #aaa;\n      padding: 8px;\n      vertical-align: top;\n    }\n    th { background: #f0f0f0; }\n    tr:nth-child(even) td { background: #fafafa; }\n    .chapter {\n      page-break-before: always;\n      margin-top: 60px;\n    }\n    .summary { margin-top: 10px; margin-bottom: 20px; }\n    .cover {\n      text-align: center;\n      page-break-after: always;\n      margin-top: 200px;\n    }\n    footer {\n      margin-top: 50px;\n      text-align: center;\n      font-size: 0.8em;\n      color: #777;\n      border-top: 1px solid #ccc;\n      padding-top: 10px;\n    }\n    ol { margin-left: 25px; }\n    .answer-space {\n      border-bottom: 1px solid #bbb;\n      height: 25px;\n      margin: 5px 0 15px;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- Cover Page -->\n  <div class=\"cover\">\n    <h1>${title}</h1>\n    <h2>${author}</h2>\n    <p>Workbook Summary</p>\n    <p><em>Generated by Megyk Books</em></p>\n  </div>\n\n  <!-- Table of Contents -->\n  <h2>Table of Contents</h2>\n  <ol>${toc}</ol>\n`;\n\n// Loop through chapters\nfor (const ch of chapters) {\n  const questions = ch.questions || [];\n  const answers = ch.answers || [];\n\n  // Add to global index\n  questions.forEach((q, i) => {\n    indexEntries.push({\n      chapter_index: ch.chapter_index,\n      chapter_title: cleanTitle(ch.title),\n      question: q,\n      answer: answers[i] || \"\"\n    });\n  });\n\n  html += `\n  <div class=\"chapter\">\n    <h2>Chapter ${ch.chapter_index}: ${cleanTitle(ch.title)}</h2>\n    ${ch.summary ? `<div class=\"summary\"><p>${ch.summary}</p></div>` : \"\"}\n    \n    ${questions.length ? `\n      <h3>Questions for Reflection</h3>\n      <ol>\n        ${questions.map(q => `\n          <li>${q}\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>`).join(\"\")}\n      </ol>\n    ` : \"\"}\n  </div>`;\n}\n\n// Add complete book summary\nhtml += `\n  <div class=\"chapter\">\n    <h2>Complete Book Summary</h2>\n    <p>${bookSummary}</p>\n  </div>\n`;\n\n// Add global Q&A Index\nif (indexEntries.length) {\n  html += `\n  <div class=\"chapter\">\n    <h2>Workbook Index — All Questions & Answers</h2>\n    <table>\n      <tr><th>Chapter</th><th>Question</th><th>Answer</th></tr>`;\n\n  let lastChapter = \"\";\n  for (const e of indexEntries) {\n    const chapterLabel = e.chapter_title !== lastChapter\n      ? `Chapter ${e.chapter_index}: ${e.chapter_title}`\n      : \"\";\n    html += `\n      <tr>\n        <td>${chapterLabel}</td>\n        <td>${e.question}</td>\n        <td>${e.answer}</td>\n      </tr>`;\n    lastChapter = e.chapter_title;\n  }\n\n  html += `\n    </table>\n  </div>`;\n}\n\n\n// Footer\nhtml += `\n  <footer>\n    Generated on ${new Date().toLocaleDateString()} by Megyk Books\n  </footer>\n</body>\n</html>\n`;\n\nreturn [{ html }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        160
      ],
      "id": "b3eed7ba-ae69-4706-a04d-500678d4719e",
      "name": "Generate Workbook HTML"
    },
    {
      "parameters": {
        "resource": "conversion",
        "htmlContent": "={{ $json.html }}",
        "conversionOptions": {
          "conversionOutput": "file"
        }
      },
      "type": "@pdfgeneratorapi/n8n-nodes-pdf-generator-api.pdfGeneratorApi",
      "typeVersion": 1,
      "position": [
        2048,
        -80
      ],
      "id": "f7d99b34-a440-44b1-ab45-23df55ff2fc1",
      "name": "Convert HTML content to PDF",
      "credentials": {
        "pdfGeneratorApi": {
          "id": "gDaEgYcnh7Xi7qxM",
          "name": "PDF Generator account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        160
      ],
      "id": "9b905e44-b9ab-4bbe-935a-bca512e3dd81",
      "name": "Parse Content"
    },
    {
      "parameters": {
        "jsCode": "// Get the LLM message content (handle array or object safely)\nlet raw = $json;\nif (Array.isArray(raw)) raw = raw[0];\nraw = typeof raw === 'string' ? raw : JSON.stringify(raw);\n\n// Step 1 — Remove code fences and trim\nraw = raw.replace(/^```(?:json)?/i, '').replace(/```$/, '').trim();\n\n\n// Step 2 — If double-encoded, unescape once\nif (raw.startsWith('\"') && raw.endsWith('\"')) {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    // ignore if not actually double encoded\n  }\n}\n\n// Step 3 — Find the last closing bracket before trailing junk\nconst lastSquare = raw.lastIndexOf(']');\nconst lastCurly = raw.lastIndexOf('}');\nconst cutoff = Math.max(lastSquare, lastCurly);\nif (cutoff !== -1) raw = raw.slice(0, cutoff + 1);\n\n// Step 4 — Attempt to parse the clean portion\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  // If it still fails, try to extract both array and trailing summary manually\n  const match = raw.match(/(\\[.*\\])\\s*,\\s*({.*})/s);\n  if (match) {\n    try {\n      const chapters = JSON.parse(match[1]);\n      const summary = JSON.parse(match[2]);\n      parsed = { chapters, summary };\n    } catch (e2) {\n      parsed = { error: e2.message, snippet: raw.slice(0, 500) };\n    }\n  } else {\n    parsed = { error: err.message, snippet: raw.slice(0, 500) };\n  }\n}\n\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        160
      ],
      "id": "87fd2dac-d63f-4506-af79-5c5d20d57cbb",
      "name": "parse Workbook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.preferences.style }}",
                    "rightValue": "narrative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f73cb591-f577-431d-9a62-a7911e625676"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "narrative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5216c0fa-a23c-43d5-9df7-b6872a407df4",
                    "leftValue": "={{ $json.preferences.style }}",
                    "rightValue": "bullet_points",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bullet_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82fc4562-66cb-4690-bece-a5aff5c322e3",
                    "leftValue": "={{ $json.preferences.style }}",
                    "rightValue": "workbook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "workbook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        528,
        -96
      ],
      "id": "00a059e0-374a-4130-8d54-57e22a6aee88",
      "name": "Summary Type"
    },
    {
      "parameters": {
        "jsCode": "// Input: JSON with `user_preferences`, `chapters_summary[]`, and `complete_book_summary`\n// Output: { html: \"<html>...</html>\" }\n\nconst data = items[0].json;\nconst chapters = data.chapters_summary || data.chapters_summaries || [];\nconst prefs = data.user_preferences || {};\nconst summary = data.complete_book_summary || \"\";\n\nfunction escapeHTML(str = \"\") {\n  return str\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\nfunction cleanTitle(ch, withNumber = true) {\n  let title = ch.title || \"\";\n  // Remove any leading \"Chapter N\" or numeric prefix like \"1 \" or \"I \"\n  title = title.replace(/^(Chapter\\s*\\d+[:.\\-]?\\s*|[0-9IVXLCDM]+\\s+)/i, \"\").trim();\n  return withNumber ? `Chapter ${ch.chapter_index}: ${title}` : title;\n}\n\n// Accent color by length preference\nfunction accentColor(length) {\n  switch (length) {\n    case \"1pg\": return \"#888\";\n    case \"15pg\": return \"#264653\";\n    default: return \"#007acc\";\n  }\n}\nconst accent = accentColor(prefs.length);\n\nlet title = $(\"Merge\").first().json.title;\nlet author = $(\"Merge\").first().json.author;\n\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>${title}</title>\n  <style>\n    body {\n      font-family: \"Georgia\", serif;\n      margin: 1in;\n      line-height: 1.7;\n      color: #222;\n      background: #fff;\n    }\n    h1, h2, h3 { text-align: center; color: #222; }\n    h1 {\n      font-size: 2.4em;\n      border-bottom: 3px solid ${accent};\n      padding-bottom: 0.3em;\n      margin-bottom: 0.5em;\n    }\n    h2 {\n      color: ${accent};\n      font-size: 1.4em;\n      margin-top: 2.2em;\n      margin-bottom: 0.4em;\n      border-bottom: 1px solid ${accent};\n      padding-bottom: 0.2em;\n    }\n    h3 {\n      color: ${accent};\n      font-size: 1.2em;\n      margin-top: 1.6em;\n      margin-bottom: 0.4em;\n    }\n    p {\n      text-align: justify;\n      margin: 0.7em 0;\n      text-indent: 1.5em;\n    }\n    p:first-letter {\n      float: left;\n      font-size: 1.8em;\n      font-weight: bold;\n      margin-right: 6px;\n      line-height: 1;\n      color: ${accent};\n    }\n    .summary-intro {\n      background: #f8f8f8;\n      border-left: 4px solid ${accent};\n      padding: 1em 1.5em;\n      margin: 1.5em auto 2em;\n      border-radius: 6px;\n      width: 85%;\n    }\n    #toc {\n      background: #fdfdfd;\n      border: 1px solid #ccc;\n      border-radius: 4px;\n      padding: 1em;\n      margin: 2em auto;\n      width: 80%;\n    }\n    #toc h2 { border: none; margin-bottom: 0.5em; font-size: 1.2em; color: ${accent}; }\n    #toc ol { text-align: left; margin-left: 2em; }\n\n    \n    article {\n      margin-top: 2em;\n      padding: 1.2em;\n      border-top: 2px solid #ddd;\n    }\n    article:nth-child(even) { background: #fafafa; border-radius: 8px; }\n    footer {\n      text-align: center;\n      margin-top: 3em;\n      font-size: 0.85em;\n      color: #777;\n      border-top: 1px solid #ccc;\n      padding-top: 10px;\n    }\n    footer strong { color: #333; }\n    @media print {\n      body { margin: 1in; }\n      article { page-break-inside: avoid; }\n      h1, h2, h3 { color: black !important; }\n    }\n\n    \n@media print {\n  #toc {\n    page-break-inside: avoid;\n    page-break-before: avoid;\n    page-break-after: avoid;\n  }\n  ol, li {\n    page-break-inside: avoid;\n  }\n}\n\n    #overview {\n  page-break-inside: auto !important;\n  page-break-before: auto !important;\n  page-break-after: auto !important;\n  orphans: 2;\n  widows: 2;\n}\n\n#overview p {\n  page-break-inside: auto !important;\n  display: block;\n}\n\n  </style>\n  \n</head>\n<body>\n\n  <section id=\"cover\">\n    <h1>${escapeHTML(title)}</h1>\n    <h3>${escapeHTML(author)}</h3>\n  <h3>Megyk Books Summary - Narrative Style</h3> \n  </section>\n\n  <section id=\"overview\">\n    <h2>Overview</h2>\n    <p>${escapeHTML(summary)}</p>\n  </section>\n\n  <section id=\"toc\">\n    <h2>Table of Contents</h2>\n    <ol>\n      ${chapters.map(ch => `<li>${escapeHTML(cleanTitle(ch, false))}</li>`).join(\"\")}\n    </ol>\n  </section>\n\n  <section id=\"chapters\">\n    <h2>Chapters</h2>\n`;\n\nfor (const ch of chapters) {\n  html += `\n    <article>\n      <h3>${escapeHTML(cleanTitle(ch, true))}</h3>\n      <p>${escapeHTML(ch.summary)}</p>\n    </article>\n  `;\n}\n\nhtml += `\n  </section>\n\n  <footer>\n    Generated by <strong>Megyk Books</strong> — ${new Date().toLocaleDateString()}\n  </footer>\n\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -320
      ],
      "id": "8898786d-802e-4cec-a629-4685a5881715",
      "name": "Generate Narrative HTML"
    },
    {
      "parameters": {
        "jsCode": "// Input: { user_preferences, chapters_summary[], complete_book_summary }\n// Output: { html: \"<html>...</html>\" }\n\nconst data = items[0].json;\nconst prefs = data.user_preferences || {};\nconst chapters = data.chapters_summary || [];\nconst summary = data.complete_book_summary || \"\";\n\nfunction toList(content) {\n  if (!content) return \"\";\n  if (Array.isArray(content)) {\n    return `<ul>${content.map(b => `<li>${b.trim()}</li>`).join(\"\\n\")}</ul>`;\n  }\n  const sentences = content\n    .split(/(?<=[.?!])\\s+/)\n    .map(s => s.trim())\n    .filter(Boolean);\n  return `<ul>${sentences.map(s => `<li>${s}</li>`).join(\"\\n\")}</ul>`;\n}\n\nfunction cleanTitle(ch, withNumber = true) {\n  let title = ch.title || \"\";\n  // Remove any leading chapter word, number, or colon (like \"1\", \"Chapter 1:\", etc.)\n  title = title.replace(/^(Chapter\\s*\\d+[:.\\-]?\\s*|[0-9IVXLCDM]+\\s+)/i, \"\").trim();\n  return withNumber ? `Chapter ${ch.chapter_index + 1}: ${title}` : title;\n}\n\n\n\n\nfunction accentColor(length) {\n  switch (length) {\n    case \"1pg\": return \"#888\";\n    case \"15pg\": return \"#264653\";\n    default: return \"#007acc\";\n  }\n}\nconst accent = accentColor(prefs.length);\n\n\nlet title = $(\"Merge\").first().json.title;\nlet author = $(\"Merge\").first().json.author;\n\n\n\n\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>${title}</title>\n<style>\n  body {\n    font-family: \"Helvetica Neue\", Arial, sans-serif;\n    margin: 1in;\n    line-height: 1.6;\n    color: #222;\n    background: #fff;\n  }\n  h1, h2, h3 { color: #222; }\n  h1 {\n    text-align: center;\n    border-bottom: 3px solid ${accent};\n    padding-bottom: 10px;\n    margin-bottom: 30px;\n    font-size: 2.2em;\n  }\n  h2 {\n    color: ${accent};\n    border-bottom: 1px solid ${accent};\n    padding-bottom: 4px;\n    margin-bottom: 0.6em;\n    margin-top: 2em;\n    font-size: 1.3em;\n  }\n  h3 {\n    color: ${accent};\n    margin-top: 1.5em;\n    font-size: 1.1em;\n  }\n  ul {\n    list-style-type: disc;\n    margin-left: 1.5em;\n    line-height: 1.5;\n  }\n  li { margin-bottom: 0.3em; }\n  .prefs {\n    background: #f8f8f8;\n    border-left: 4px solid ${accent};\n    padding: 1em;\n    margin-bottom: 2em;\n    border-radius: 4px;\n  }\n  #overall, #toc, article {\n    page-break-inside: avoid;\n  }\n  #overall {\n    background: #f7faff;\n    border-left: 4px solid ${accent};\n    padding: 1.2em;\n    border-radius: 6px;\n    margin-bottom: 2em;\n  }\n  #toc {\n    background: #fdfdfd;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    padding: 1em;\n    margin-bottom: 2em;\n  }\n  #toc h2 {\n    border: none;\n    color: ${accent};\n    margin-bottom: 0.5em;\n  }\n  #toc ol {\n    margin-left: 1.5em;\n    line-height: 1.5;\n  }\n  #chapters {\n    page-break-before: always;\n  }\n  article {\n    margin-top: 2em;\n    padding: 1em;\n    border-top: 2px solid #ddd;\n  }\n  article:nth-child(even) {\n    background: #fafafa;\n    border-radius: 6px;\n  }\n  footer {\n    margin-top: 50px;\n    text-align: center;\n    font-size: 0.8em;\n    color: #777;\n    border-top: 1px solid #ccc;\n    padding-top: 10px;\n  }\n  footer strong { color: #333; }\n\n  @media print {\n    body { margin: 1in; }\n    h1, h2, h3 { color: black !important; }\n    #overall, #toc, article { page-break-inside: avoid; }\n    #chapters { page-break-before: always; }\n  }\n</style>\n</head>\n<body>\n\n<h1>${title}</h1>\n<h2>${author}</h2>\n\n<div class=\"prefs\">\n  <p><strong>Style:</strong> ${prefs.style || \"bullet_points\"}</p>\n  <p><strong>Target Length:</strong> ${prefs.length || \"unspecified\"}</p>\n</div>\n\n<section id=\"overall\">\n  <h2>Overall Summary</h2>\n  ${toList(summary)}\n</section>\n\n<section id=\"toc\">\n  <h2>Table of Contents</h2>\n  <ol>\n    ${chapters.map(ch => `<li>${cleanTitle(ch, false)}</li>`).join(\"\\n\")}\n  </ol>\n</section>\n\n<section id=\"chapters\">\n  <h2>Chapters</h2>\n`;\n\nfor (const ch of chapters) {\n  const bullets = ch.summary_bullets || ch.summary || [];\n  html += `\n  <article>\n    <h3>${cleanTitle(ch, true)}</h3>\n    ${toList(bullets)}\n  </article>\n  `;\n}\n\nhtml += `\n</section>\n\n<footer>\n  <p>Generated by <strong>Megyk Books</strong> — ${new Date().toLocaleDateString()}</p>\n</footer>\n\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -80
      ],
      "id": "b963d2b5-96ff-45c6-b1f3-f72974a65334",
      "name": "Generate Bullet Points HTML"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"user_preferences\": {\"style\": \"workbook\", \"length\": \"5pg\"},\n  \"chapters_summary\": [\n    {\n      \"chapter_index\": 1,\n      \"title\": \"Chapter Title\",\n      \"summary\": \"Short paragraph summary.\",\n      \"questions\": [\"Question 1\", \"Question 2\"],\n      \"answers\": [\"Answer 1\", \"Answer 2\"]\n    }\n  ],\n  \"complete_book_summary\": \"Overall workbook summary text.\",\n  \"index\": [\n    {\"question\": \"Question 1\", \"answer\": \"Answer 1\"},\n    {\"question\": \"Question 2\", \"answer\": \"Answer 2\"}\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        416
      ],
      "id": "6644b338-0851-423c-923d-b8b64439e8ff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2,
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        416
      ],
      "id": "9953434a-d01a-41d9-adeb-965aabb6b607",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this book in narrative style using the data retrieved from the Get Chapters tool in accordance with the following preferences object: {{ JSON.stringify($json.preferences) }}\n\nBook Title is: {{ $json.title }}\nAuthor is: {{ $json.author }}\n\n1. Call Get Chapters to fetch all chapters where book_id = {{ $json.book_id }}.\n2. Summarize each chapter as immersive, flowing prose (not meta commentary).\n3. At the end, include a cohesive full-book narrative summary.\n4. Adjust level of detail according to the user_preferences.length value:\n\n- \"1pg\": 1 sentence per chapter; 1 short paragraph overall summary.\n- \"5pg\": ~50-100 words per chapter; 2–3 paragraphs overall summary.\n- \"15pg\": 1 page per chapter; multi-paragraph in-depth summary.\n\nReturn only structured JSON matching the format defined in the system prompt.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a summarization model that writes cohesive, immersive, narrative-style summaries of books.\n\nYou have access to:\n- Get Chapters — use this to load all chapters for a given book_id.\n\nThere is an incoming user_preferences object (e.g. {\"style\":\"narrative\",\"length\":\"5pg\"}).\nUse it to adjust tone and detail level.\n\nGuidelines:\n- Write in flowing narrative prose as if retelling the book directly to the reader.\n- Do not say “This chapter discusses…” or “The author explains…” — simply convey the ideas themselves.\n- Write as if you are condensing the book itself, not describing it.\n- Maintain consistent voice and tense throughout.\n- Be accurate, concise, and engaging.\n\nOutput only structured JSON in the format:\n{\n  \"user_preferences\": {...},\n  \"chapters_summary\": [\n    {\"chapter_index\": 1, \"title\": \"Chapter 1\", \"summary\": \"Narrative paragraph...\"}\n  ],\n  \"complete_book_summary\": \"Full book-level narrative summary.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        -320
      ],
      "id": "336ff513-e52e-44b3-b017-bf1931fdbd7c",
      "name": "Narrative Summary Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Call Get Chapters to retrieve all chapters for the specified book_id: {{ $json.book_id }}\n\nYou have access to the following user preferences object:\n{{ JSON.stringify($json.preferences) }}\n\nBook Title is: {{ $json.title }}\nAuthor is: {{ $json.author }}\n\n\nSummarize each chapter as a list of concise bullet points.\n\nUse the \"length\" parameter to control the level of detail:\n- \"1pg\": Very short — 2–4 bullets per chapter, focusing only on the core message.\n- \"5pg\": Moderate — 6–10 bullets per chapter, capturing key ideas and examples.\n- \"15pg\": Extensive — 12–20 bullets per chapter, covering subtopics, supporting evidence, and nuanced insights.\n\nAt the end, include a bullet-point list of overarching takeaways, scaled to the same level of detail.\n\nReturn JSON in this format:\n{\n  \"user_preferences\": {\"style\": \"bullet_points\", \"length\": \"5pg\"},\n  \"chapters_summary\": [\n    {\"chapter_index\": 1, \"title\": \"Chapter Title\", \"summary_bullets\": [\"• point 1\", \"• point 2\", \"• point 3\"]}\n  ],\n  \"complete_book_summary\": [\"• main insight 1\", \"• main insight 2\", \"• main insight 3\"]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a summarization model that produces high-level bullet point summaries of each chapter of a book.\nYou have access to:\n- Get Chapters — use this to load all chapters for a given book_id.\n\nDo not include conversational framing. Respond strictly in JSON matching the example structure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        -80
      ],
      "id": "5d14eab1-91b4-4372-8389-e664cf7f0342",
      "name": "Bullet Points Summary Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Call Get Chapters to retrieve all chapters for the specified book_id: {{ $json.book_id }}\n\nYou have access to the following user preferences object:\n{{ JSON.stringify($json.preferences) }}\n\nBook Title is: {{ $json.title }}\nAuthor is: {{ $json.author }}\n\n\nSummarize each chapter as a clear, workbook-style study section. For each chapter:\n- Write a summary scaled to the \"length\" preference.\n- Generate comprehension questions and concise answers, as follows:\n  - \"1pg\": 1–2 simple comprehension questions.\n  - \"5pg\": 3–5 moderate-depth questions covering key ideas and examples.\n  - \"15pg\": 6–8 in-depth questions exploring reasoning, implications, and context.\n\nAfter summarizing all chapters, include:\n- A \"complete_book_summary\" — a brief synthesis of the book as a whole, scaled to the same level of detail.\n- An \"index\" array mapping every question and answer pair across all chapters.\n\nReturn JSON strictly in this format:\n{\n  \"user_preferences\": {\"style\": \"workbook\", \"length\": \"5pg\"},\n  \"chapters_summary\": [\n    {\n      \"chapter_index\": 1,\n      \"title\": \"Chapter Title\",\n      \"summary\": \"Short descriptive paragraph(s)\",\n      \"questions\": [\"Question 1\", \"Question 2\"],\n      \"answers\": [\"Answer 1\", \"Answer 2\"]\n    }\n  ],\n  \"complete_book_summary\": \"Concise book overview\",\n  \"index\": [{\"question\": \"Question 1\", \"answer\": \"Answer 1\"}]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an educational summarization model that generates workbook-style study guides.\n\nTools:\n- Get Chapters — fetches chapters by book_id.\n\nInstructions:\n1. Summarize each chapter clearly and briefly, adjusting depth based on user_preferences.length.\n2. Generate comprehension questions and concise answers. The number of questions should scale by length:\n   - \"1pg\": 1–2 simple comprehension questions.\n   - \"5pg\": 3–5 medium-depth questions covering key ideas.\n   - \"15pg\": 6–8 in-depth questions that explore examples, reasoning, and implications.\n3. Append a combined \"index\" mapping all questions and answers.\n4. Respect the provided user_preferences object for style and length.\n5. Limit each summary to 1–2 short paragraphs for \"1pg\", up to 3 for \"5pg\", and up to 5 for \"15pg\".\n\nOutput strictly as JSON in this shape:\n{\n  \"user_preferences\": {...},\n  \"chapters_summary\": [\n    {\n      \"chapter_index\": 1,\n      \"title\": \"...\",\n      \"summary\": \"...\",\n      \"questions\": [\"...\"],\n      \"answers\": [\"...\"]\n    }\n  ],\n  \"complete_book_summary\": \"...\",\n  \"index\": [{\"question\": \"...\", \"answer\": \"...\"}]\n}\n\nGuidelines:\n- Avoid prefatory or conversational text.\n- Prefer clarity and educational usefulness over literary style.\n- Make questions and answers self-contained and directly tied to the chapter’s ideas.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        160
      ],
      "id": "5bc857e9-c799-40e8-bfeb-b51bec234925",
      "name": "Workbook Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse( $input.first().json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -80
      ],
      "id": "54fefddd-4c8b-488e-827e-80e313901f24",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse( $input.first().json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -320
      ],
      "id": "b8f2c6f2-22ca-4d6c-b015-a48e8c80e2e7",
      "name": "Parse Output1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99ab16e2-c8b8-42f2-8f24-9810356b00b5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -64
      ],
      "id": "70750d36-d105-4e02-8c86-26ed934c10a7",
      "name": "Webhook",
      "webhookId": "99ab16e2-c8b8-42f2-8f24-9810356b00b5"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"document.pdf\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2272,
        -80
      ],
      "id": "47b077eb-bd9f-4a06-87a1-fef413000ccc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract the body payload from the webhook input\nconst body = items[0].json.body;\n\nreturn [\n  {\n    json: {\n      book_id: body.book_id,     // maps from book_id\n      user_id: 'bfb1e2f2-353c-4cf7-807e-4be63ed7cfff',        // placeholder if not provided\n      preferences: body.preferences\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -64
      ],
      "id": "f592875b-bdbc-4b37-a022-14ca1131dbb5",
      "name": "Parse Incoming"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chapters",
        "filters": {
          "conditions": [
            {
              "keyName": "book_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        992,
        416
      ],
      "id": "d3b02ed3-f4a7-46d8-852b-bd041a5a9614",
      "name": "Get Chapters",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        128
      ],
      "id": "bc36ac0e-a91a-4f35-a679-51c41cc6e093",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        -112
      ],
      "id": "075c9758-9a65-4caa-a947-ce0b3f63957f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "book_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        -80
      ],
      "id": "05fe51b8-d4e1-4d7b-8fc5-48f7810d10d2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "books",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.book_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        -192
      ],
      "id": "50af5d6a-f677-4c41-bf05-e7f4d7282129",
      "name": "Load Book",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        624
      ],
      "id": "6932f9d3-e758-4bb2-9560-16a75180cc4b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "BRRf66J5aSwt4UDP",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Generate Workbook HTML": {
      "main": [
        [
          {
            "node": "Convert HTML content to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML content to PDF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content": {
      "main": [
        [
          {
            "node": "parse Workbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse Workbook": {
      "main": [
        [
          {
            "node": "Generate Workbook HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Type": {
      "main": [
        [
          {
            "node": "Narrative Summary Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bullet Points Summary Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workbook Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Narrative HTML": {
      "main": [
        [
          {
            "node": "Convert HTML content to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Bullet Points HTML": {
      "main": [
        [
          {
            "node": "Convert HTML content to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Workbook Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Workbook Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bullet Points Summary Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narrative Summary Agent": {
      "main": [
        [
          {
            "node": "Parse Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workbook Agent": {
      "main": [
        [
          {
            "node": "Parse Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Generate Bullet Points HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output1": {
      "main": [
        [
          {
            "node": "Generate Narrative HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming": {
      "main": [
        [
          {
            "node": "Load Book",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Chapters": {
      "ai_tool": [
        [
          {
            "node": "Workbook Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Bullet Points Summary Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Narrative Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Bullet Points Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Narrative Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summary Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Book": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "node",
            "content-length": "188",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "161.35.17.133",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "book_id": "d9e040a3-1d0d-45ee-a141-856b4c5e36b8",
            "preferences": {
              "style": "workbook",
              "length": "5pg"
            },
            "user_id": "bfb1e2f2-353c-4cf7-807e-4be63ed7cfff",
            "timestamp": "2025-11-01T19:57:02.737Z"
          },
          "webhookUrl": "https://n8n.megyk.com/webhook/get_book_summary",
          "executionMode": "production"
        }
      }
    ],
    "Generate Workbook HTML": [
      {
        "json": {
          "html": "\n<html>\n<head>\n  <style>\n    :root { --accent: #264653; }\n    body {\n      font-family: \"Helvetica Neue\", Arial, sans-serif;\n      padding: 40px;\n      color: #333;\n      line-height: 1.6;\n    }\n    h1, h2, h3 { color: var(--accent); }\n    h1 {\n      text-align: center;\n      border-bottom: 3px solid var(--accent);\n      padding-bottom: 10px;\n      margin-bottom: 30px;\n    }\n    h2 {\n      border-bottom: 1px solid #ccc;\n      padding-bottom: 4px;\n      margin-top: 40px;\n    }\n    h3 { margin-top: 25px; }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n      font-size: 0.95em;\n    }\n    td, th {\n      border: 1px solid #aaa;\n      padding: 8px;\n      vertical-align: top;\n    }\n    th { background: #f0f0f0; }\n    tr:nth-child(even) td { background: #fafafa; }\n    .chapter {\n      page-break-before: always;\n      margin-top: 60px;\n    }\n    .summary { margin-top: 10px; margin-bottom: 20px; }\n    .cover {\n      text-align: center;\n      page-break-after: always;\n      margin-top: 200px;\n    }\n    footer {\n      margin-top: 50px;\n      text-align: center;\n      font-size: 0.8em;\n      color: #777;\n      border-top: 1px solid #ccc;\n      padding-top: 10px;\n    }\n    ol { margin-left: 25px; }\n    .answer-space {\n      border-bottom: 1px solid #bbb;\n      height: 25px;\n      margin: 5px 0 15px;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- Cover Page -->\n  <div class=\"cover\">\n    <h1>Start with Why 15th Anniversary Edition: How Great Leaders Inspire Everyone to Take Action</h1>\n    <h2>Simon Sinek</h2>\n    <p>Workbook Summary</p>\n    <p><em>Generated by Megyk Books</em></p>\n  </div>\n\n  <!-- Table of Contents -->\n  <h2>Table of Contents</h2>\n  <ol><li>Chapter 2: WE ASSUME WE KNOW</li><li>Chapter 3: CARROTS AND STICKS</li><li>Chapter 4: THE GOLDEN CIRCLE</li><li>Chapter 5: THIS IS NOT OPINION, THIS IS BIOLOGY</li><li>Chapter 6: CLARITY, DISCIPLINE AND CONSISTENCY</li><li>Chapter 7: THE EMERGENCE OF TRUST</li><li>Chapter 8: HOW A TIPPING POINT TIPS</li><li>Chapter 9: START WITH WHY, BUT KNOW HOW</li><li>Chapter 10: KNOW WHY. KNOW HOW. THEN WHAT?</li><li>Chapter 11: COMMUNICATION IS NOT ABOUT SPEAKING, IT’S ABOUT LISTENING</li><li>Chapter 12: WHEN WHY GOES FUZZY</li><li>Chapter 13: SPLIT HAPPENS</li><li>Chapter 14: THE ORIGINS OF A WHY</li><li>Chapter 15: THE NEW COMPETITION</li></ol>\n\n  <div class=\"chapter\">\n    <h2>Chapter 1: WE ASSUME WE KNOW</h2>\n    <div class=\"summary\"><p>This chapter explores how assumptions shape our decisions and behaviors, often based on incomplete or false information. Using historical examples like Adolf Hitler and John F. Kennedy, it illustrates how a single detail can change perceptions dramatically. The chapter highlights the limitations of relying solely on data and rational analysis, emphasizing the importance of understanding the underlying reasons behind outcomes. It introduces the metaphor of Japanese car manufacturers ensuring quality by design, contrasting it with American reactive fixes, to show the value of starting with clear intentions to achieve predictable long-term success.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>Why do assumptions impact our decisions and behaviors?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What is the metaphor of the Japanese car assembly line meant to illustrate?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How can more data sometimes fail to improve decision-making?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 2: CARROTS AND STICKS</h2>\n    <div class=\"summary\"><p>This chapter discusses two ways to influence human behavior: manipulation and inspiration. It explains that many businesses rely heavily on manipulations such as price cuts, promotions, fear, social pressure, and aspirational messages to drive transactions. While manipulations can be effective short-term tactics, they do not build loyalty and often come at a high cost. The chapter uses examples like General Motors' cash-back incentives and the proliferation of toothpaste varieties to show how manipulations can erode profitability and customer trust. It argues that inspiration, based on clear purpose and values, is essential for sustainable success and loyalty.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What are the main differences between manipulation and inspiration in influencing behavior?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why can relying on price cuts and promotions be harmful to businesses?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How do manipulations affect customer loyalty?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What examples illustrate the limitations of manipulations in business?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 3: THE GOLDEN CIRCLE</h2>\n    <div class=\"summary\"><p>The Golden Circle is a model explaining why some leaders and organizations inspire while others do not. It consists of three layers: WHAT (what a company does), HOW (how it does it), and WHY (its purpose or belief). Most organizations communicate from the outside in (WHAT to WHY), but inspiring leaders communicate from the inside out, starting with WHY. Apple exemplifies this by leading with their belief in challenging the status quo, which attracts loyal customers who buy into their cause, not just their products. The chapter emphasizes that people buy WHY you do something, not just WHAT you do, and that clarity of WHY enables innovation, loyalty, and flexibility.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What are the three levels of the Golden Circle?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How do most organizations communicate compared to inspiring leaders?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is starting with WHY important for organizations?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How does Apple exemplify the Golden Circle concept?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 4: THIS IS NOT OPINION, THIS IS BIOLOGY</h2>\n    <div class=\"summary\"><p>This chapter links the Golden Circle to human biology, explaining that the WHY corresponds to the limbic brain, which controls feelings and decision-making but not language, while the WHAT corresponds to the neocortex, responsible for rational thought and language. It discusses the human need to belong and how shared beliefs create trust and loyalty. The chapter illustrates how people often rationalize decisions made emotionally and how great leaders win hearts before minds. It uses examples like Apple and Harley-Davidson to show how brands become symbols of shared values that inspire loyalty beyond product features.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>How does the Golden Circle relate to brain biology?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is the limbic brain important in decision-making?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How do shared beliefs affect feelings of belonging and loyalty?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why do people rationalize emotional decisions?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 5: CLARITY, DISCIPLINE AND CONSISTENCY</h2>\n    <div class=\"summary\"><p>For the Golden Circle to inspire, clarity of WHY, discipline of HOW, and consistency of WHAT are essential. Clarity means knowing and articulating the organization's purpose beyond products. Discipline involves living by guiding principles expressed as actionable behaviors. Consistency ensures that all actions and communications align with the WHY. The chapter uses Southwest Airlines as an example of a company that embodies these principles, maintaining a clear cause and culture that inspires loyalty and profitability. It also warns that without balance and the right order (starting with WHY), organizations risk losing authenticity and resorting to manipulations.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What are the three essential elements for the Golden Circle to work?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is articulating values as verbs important?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How does Southwest Airlines exemplify clarity, discipline, and consistency?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What happens when organizations lose balance in the Golden Circle?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 6: THE EMERGENCE OF TRUST</h2>\n    <div class=\"summary\"><p>Trust is a feeling built on shared values and beliefs, not just rational actions or promises. The chapter tells the story of Continental Airlines' turnaround under CEO Gordon Bethune, who focused on employee happiness and shared goals to rebuild trust and performance. It explains that trust enables people to work for something bigger than themselves and take risks. Trustworthy cultures foster collaboration, innovation, and loyalty. The chapter also highlights the importance of leaders serving those they lead and creating environments where people feel supported and valued.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What role does trust play in organizational success?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did Gordon Bethune rebuild trust at Continental Airlines?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is trust important for innovation and risk-taking?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What is the relationship between leaders and those they lead regarding trust?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 7: HOW A TIPPING POINT TIPS</h2>\n    <div class=\"summary\"><p>This chapter explains how ideas and innovations spread through society according to the Law of Diffusion of Innovations, dividing people into innovators, early adopters, early majority, late majority, and laggards. It emphasizes the importance of targeting innovators and early adopters who share your beliefs (WHY) to create a tipping point for mass-market success. The chapter critiques companies like TiVo for failing to communicate their WHY effectively, resulting in poor adoption despite superior products. It uses Martin Luther King Jr.'s civil rights movement as an example of rallying people around a shared cause to create lasting change.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What is the Law of Diffusion of Innovations?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is targeting innovators and early adopters important?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did TiVo fail to achieve mass-market success?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did Martin Luther King Jr. use the concept of WHY to inspire a movement?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 8: START WITH WHY, BUT KNOW HOW</h2>\n    <div class=\"summary\"><p>This chapter discusses the importance of pairing inspirational leaders (WHY-types) with practical executors (HOW-types) to realize visions. It contrasts energetic motivation with lasting charisma rooted in clear purpose. Examples include Neil Armstrong's childhood dream, Jeff Sumpter's career path, and partnerships like Walt Disney and Roy Disney. The chapter highlights the organizational structure of the Golden Circle as a cone, with leaders at the WHY level inspiring vision and HOW-level executives building infrastructure. It stresses that great movements require both vision and practical execution.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What is the difference between WHY-types and HOW-types?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is the partnership between WHY and HOW important?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How does the Golden Circle model represent organizational structure?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What role does charisma play in leadership?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 9: KNOW WHY. KNOW HOW. THEN WHAT?</h2>\n    <div class=\"summary\"><p>This chapter uses Apple's iconic 1984 commercial to illustrate how organizations must clearly communicate their WHY through all actions and messaging (WHAT). It explains that as organizations grow, leaders become symbols of WHY, while HOW-level managers build systems and WHAT-level employees deliver tangible proof. The chapter highlights the biological challenge of expressing WHY, as feelings reside in a different brain area than language. It stresses the importance of clear, consistent communication to ensure the organization's purpose resonates externally and internally.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>How does the 1984 Apple commercial relate to the Golden Circle?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What challenges do organizations face in communicating their WHY?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How does the organizational structure affect communication of WHY?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is clear communication important for an organization's success?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 10: COMMUNICATION IS NOT ABOUT SPEAKING, IT’S ABOUT LISTENING</h2>\n    <div class=\"summary\"><p>This chapter emphasizes the power of symbols in communication, illustrating how symbols represent shared values and beliefs that inspire loyalty. It discusses how logos become meaningful only when linked to a clear WHY, using examples like the American flag and Harley-Davidson tattoos. The chapter warns against companies acting like dictators, focusing on themselves rather than inspiring shared beliefs. It introduces the Swag Test to assess if a logo has become a true symbol of values and stresses the importance of consistent actions to build meaningful symbols.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What role do symbols play in communication and loyalty?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How does a logo become a meaningful symbol?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What is the Swag Test and what does it measure?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why do some companies fail to create meaningful symbols?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 11: WHEN WHY GOES FUZZY</h2>\n    <div class=\"summary\"><p>This chapter explores how successful organizations risk losing their WHY as they grow, leading to a split where WHAT they do overshadows WHY they do it. It uses Walmart as a primary example, showing how the company shifted focus from serving people to chasing profits, resulting in scandals and loss of loyalty. The chapter distinguishes achievement (tangible goals) from success (a feeling tied to WHY). It warns that losing clarity of WHY leads to manipulation, reduced morale, and eventual decline. It also discusses the importance of succession planning to maintain WHY.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What happens when an organization’s WHY goes fuzzy?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did Walmart’s loss of WHY affect its culture and reputation?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What is the difference between achievement and success?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is succession planning important for preserving WHY?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 12: SPLIT HAPPENS</h2>\n    <div class=\"summary\"><p>This chapter describes the lifecycle of organizations, highlighting the common split where passion and purpose (WHY) become disconnected from operations and results (WHAT). It explains that early success is driven by passion and gut decisions, but as organizations grow, rational decisions and metrics dominate, often diluting WHY. The chapter stresses the importance of managing this split to maintain inspiration and authenticity. It uses examples like Microsoft, Starbucks, and Dell to illustrate the challenges and opportunities of reconnecting with WHY.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What is the organizational split described in this chapter?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why does the split commonly occur as organizations grow?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How can organizations manage or recover from the split?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What examples illustrate the impact of the split on companies?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 13: THE ORIGINS OF A WHY</h2>\n    <div class=\"summary\"><p>This chapter explains that an organization's WHY originates from the founders' life experiences, beliefs, and values. It uses Apple as an example, showing how Steve Jobs and Steve Wozniak's rebellious spirit and desire to empower individuals shaped Apple's purpose. The chapter emphasizes that discovering WHY is a process of looking back, not inventing, and that clarity of WHY is easier to find than the discipline to stay true to it. It also shares the author's personal journey of rediscovering his WHY to inspire others.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>Where does an organization's WHY come from?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did Apple’s founders’ beliefs shape its WHY?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>Why is discovering WHY easier than staying true to it?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How did the author rediscover his WHY?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Chapter 14: THE NEW COMPETITION</h2>\n    <div class=\"summary\"><p>This concluding chapter uses the story of Ben Comen, a runner with cerebral palsy, to illustrate the power of competing against oneself rather than others. It argues that organizations should focus on improving their own performance aligned with their WHY instead of obsessing over competitors. The chapter calls for leaders to inspire by starting with WHY, fostering trust, loyalty, and optimism. It ends with a hopeful message that if all organizations start with WHY, they can change the world together.</p></div>\n    \n    \n      <h3>Questions for Reflection</h3>\n      <ol>\n        \n          <li>What lesson does Ben Comen’s story teach about competition?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>How should organizations approach competition according to this chapter?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What are the benefits of starting with WHY for organizations?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n          <li>What is the hopeful message the author leaves readers with?\n            <div class=\"answer-space\"></div>\n            <div class=\"answer-space\"></div>\n          </li>\n      </ol>\n    \n  </div>\n  <div class=\"chapter\">\n    <h2>Complete Book Summary</h2>\n    <p>Start with Why by Simon Sinek reveals that the key to lasting success and leadership is starting with WHY — the purpose, cause, or belief that inspires action. The book introduces The Golden Circle model, emphasizing that inspiring leaders and organizations communicate from the inside out, beginning with WHY, then HOW, and finally WHAT. It explains how human biology supports this approach, linking WHY to the limbic brain that drives behavior and loyalty. Through examples like Apple, Southwest Airlines, and Martin Luther King Jr., Sinek shows that clarity, discipline, and consistency in purpose build trust and inspire loyalty beyond manipulative tactics like price cuts or promotions. The book warns of the dangers when organizations lose sight of their WHY, leading to a split where WHAT dominates, causing loss of inspiration and decline. It stresses the importance of leadership succession that preserves WHY and the partnership between visionary WHY-types and practical HOW-types to realize goals. Ultimately, Sinek calls for organizations to compete against themselves by staying true to their WHY, fostering trust, loyalty, and innovation, and inspiring movements that can change the world.</p>\n  </div>\n\n  <div class=\"chapter\">\n    <h2>Workbook Index — All Questions & Answers</h2>\n    <table>\n      <tr><th>Chapter</th><th>Question</th><th>Answer</th></tr>\n      <tr>\n        <td>Chapter 1: WE ASSUME WE KNOW</td>\n        <td>Why do assumptions impact our decisions and behaviors?</td>\n        <td>Assumptions impact decisions because they form our perceived truths, which guide how we act, even if those assumptions are incomplete or false.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What is the metaphor of the Japanese car assembly line meant to illustrate?</td>\n        <td>The metaphor illustrates that designing quality into a product from the start leads to better, more reliable outcomes than fixing problems after they occur.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How can more data sometimes fail to improve decision-making?</td>\n        <td>More data can fail if the initial assumptions are flawed, leading to misguided conclusions despite the volume of information.</td>\n      </tr>\n      <tr>\n        <td>Chapter 2: CARROTS AND STICKS</td>\n        <td>What are the main differences between manipulation and inspiration in influencing behavior?</td>\n        <td>Manipulation uses tactics like price cuts and fear to drive transactions, often short-term and costly, while inspiration motivates behavior through shared purpose and values, fostering loyalty.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why can relying on price cuts and promotions be harmful to businesses?</td>\n        <td>Price cuts and promotions can lead to price addiction, reduced margins, and a downward spiral of cost-cutting that harms profitability.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How do manipulations affect customer loyalty?</td>\n        <td>Manipulations drive repeat business but do not create true loyalty, as customers remain sensitive to better offers and incentives.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What examples illustrate the limitations of manipulations in business?</td>\n        <td>Examples include General Motors' cash-back incentives that eroded profits and the toothpaste industry's excessive product variations that confuse customers.</td>\n      </tr>\n      <tr>\n        <td>Chapter 3: THE GOLDEN CIRCLE</td>\n        <td>What are the three levels of the Golden Circle?</td>\n        <td>The three levels are WHY (purpose or belief), HOW (process or values), and WHAT (products or services).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How do most organizations communicate compared to inspiring leaders?</td>\n        <td>Most organizations communicate from the outside in (WHAT to WHY), while inspiring leaders communicate from the inside out (WHY to WHAT).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is starting with WHY important for organizations?</td>\n        <td>Starting with WHY connects with people's emotions and beliefs, fostering loyalty and inspiring action beyond just rational decisions.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How does Apple exemplify the Golden Circle concept?</td>\n        <td>Apple starts with WHY by promoting their belief in challenging the status quo, which attracts customers who share that belief and leads to strong loyalty and innovation.</td>\n      </tr>\n      <tr>\n        <td>Chapter 4: THIS IS NOT OPINION, THIS IS BIOLOGY</td>\n        <td>How does the Golden Circle relate to brain biology?</td>\n        <td>The WHY corresponds to the limbic brain (feelings and behavior), and the WHAT corresponds to the neocortex (rational thought and language).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is the limbic brain important in decision-making?</td>\n        <td>The limbic brain drives behavior and feelings like trust and loyalty, influencing decisions often beyond rational explanation.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How do shared beliefs affect feelings of belonging and loyalty?</td>\n        <td>Shared beliefs create a sense of belonging, making people feel connected and safe, which fosters loyalty to leaders and organizations.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why do people rationalize emotional decisions?</td>\n        <td>Because the limbic brain controls decisions but not language, people use rational explanations to justify decisions made emotionally.</td>\n      </tr>\n      <tr>\n        <td>Chapter 5: CLARITY, DISCIPLINE AND CONSISTENCY</td>\n        <td>What are the three essential elements for the Golden Circle to work?</td>\n        <td>Clarity of WHY (purpose), discipline of HOW (guiding actions), and consistency of WHAT (aligned behaviors and communications).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is articulating values as verbs important?</td>\n        <td>Because verbs are actionable and measurable, making it easier to hold people accountable and build systems around values.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How does Southwest Airlines exemplify clarity, discipline, and consistency?</td>\n        <td>Southwest Airlines has a clear cause (championing the common man), lives by simple guiding principles (cheap, fun, simple), and consistently reflects these in all they do, leading to loyalty and profits.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What happens when organizations lose balance in the Golden Circle?</td>\n        <td>They lose authenticity, trust, and often resort to manipulations, which undermines long-term success.</td>\n      </tr>\n      <tr>\n        <td>Chapter 6: THE EMERGENCE OF TRUST</td>\n        <td>What role does trust play in organizational success?</td>\n        <td>Trust creates a sense of value and belonging, motivating people to work hard and collaborate for the organization's success.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did Gordon Bethune rebuild trust at Continental Airlines?</td>\n        <td>Bethune improved employee treatment, removed barriers, aligned incentives, and fostered a team culture focused on shared success.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is trust important for innovation and risk-taking?</td>\n        <td>Trust provides psychological safety, encouraging people to take risks and innovate without fear of negative consequences.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What is the relationship between leaders and those they lead regarding trust?</td>\n        <td>Leaders must serve and support their people to earn trust, which in turn inspires loyalty and high performance.</td>\n      </tr>\n      <tr>\n        <td>Chapter 7: HOW A TIPPING POINT TIPS</td>\n        <td>What is the Law of Diffusion of Innovations?</td>\n        <td>It describes how innovations spread through segments of society: innovators, early adopters, early majority, late majority, and laggards.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is targeting innovators and early adopters important?</td>\n        <td>Because they are willing to take risks and adopt new ideas early, creating momentum that leads to mass adoption.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did TiVo fail to achieve mass-market success?</td>\n        <td>TiVo marketed features (WHAT) to the mass market without clearly communicating the purpose or belief (WHY), causing confusion and low adoption.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did Martin Luther King Jr. use the concept of WHY to inspire a movement?</td>\n        <td>King articulated a clear, shared belief (WHY) that inspired people to join a cause beyond specific plans or actions.</td>\n      </tr>\n      <tr>\n        <td>Chapter 8: START WITH WHY, BUT KNOW HOW</td>\n        <td>What is the difference between WHY-types and HOW-types?</td>\n        <td>WHY-types are visionaries driven by purpose; HOW-types are practical builders who execute the vision.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is the partnership between WHY and HOW important?</td>\n        <td>Because vision alone cannot succeed without practical execution, and builders need inspiration to guide their work.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How does the Golden Circle model represent organizational structure?</td>\n        <td>The Golden Circle is a cone with the leader at the WHY level, HOW-level executives building systems below, and the WHAT-level employees implementing actions.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What role does charisma play in leadership?</td>\n        <td>Charisma stems from clarity of WHY and inspires loyalty beyond mere energy or motivation.</td>\n      </tr>\n      <tr>\n        <td>Chapter 9: KNOW WHY. KNOW HOW. THEN WHAT?</td>\n        <td>How does the 1984 Apple commercial relate to the Golden Circle?</td>\n        <td>The commercial symbolizes Apple's WHY—challenging the status quo—beyond product features (WHAT).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What challenges do organizations face in communicating their WHY?</td>\n        <td>Feelings (WHY) are processed in the limbic brain, which lacks language, making it hard to articulate purpose clearly.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How does the organizational structure affect communication of WHY?</td>\n        <td>Leaders embody WHY, HOW-level managers build systems, and WHAT-level employees deliver proof; communication must flow clearly through these layers.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is clear communication important for an organization's success?</td>\n        <td>Clear communication ensures that the organization's purpose is understood and inspires loyalty and trust.</td>\n      </tr>\n      <tr>\n        <td>Chapter 10: COMMUNICATION IS NOT ABOUT SPEAKING, IT’S ABOUT LISTENING</td>\n        <td>What role do symbols play in communication and loyalty?</td>\n        <td>Symbols embody shared values and beliefs, making intangible ideas tangible and inspiring loyalty.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How does a logo become a meaningful symbol?</td>\n        <td>A logo becomes meaningful when it consistently represents the organization's WHY and is embraced by those who share those beliefs.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What is the Swag Test and what does it measure?</td>\n        <td>The Swag Test checks if people proudly wear branded items as a symbol of identity, indicating the logo's meaningfulness.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why do some companies fail to create meaningful symbols?</td>\n        <td>Companies fail when they focus on themselves rather than communicating a clear purpose that others can believe in.</td>\n      </tr>\n      <tr>\n        <td>Chapter 11: WHEN WHY GOES FUZZY</td>\n        <td>What happens when an organization’s WHY goes fuzzy?</td>\n        <td>The organization focuses more on WHAT it does than WHY, leading to loss of inspiration, trust, and loyalty.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did Walmart’s loss of WHY affect its culture and reputation?</td>\n        <td>Walmart shifted from serving people to focusing on profits, causing scandals, employee dissatisfaction, and public distrust.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What is the difference between achievement and success?</td>\n        <td>Achievement is reaching tangible goals; success is a feeling connected to pursuing WHY.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is succession planning important for preserving WHY?</td>\n        <td>Succession planning ensures that new leaders embody and continue the founding purpose, maintaining organizational clarity and culture.</td>\n      </tr>\n      <tr>\n        <td>Chapter 12: SPLIT HAPPENS</td>\n        <td>What is the organizational split described in this chapter?</td>\n        <td>The split is the disconnection between the organization's WHY (purpose) and WHAT (operations/results).</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why does the split commonly occur as organizations grow?</td>\n        <td>Growth leads to reliance on rational decisions and metrics, overshadowing gut-driven passion and purpose.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How can organizations manage or recover from the split?</td>\n        <td>By consciously maintaining clarity of WHY, aligning decisions with purpose, and authentic leadership.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What examples illustrate the impact of the split on companies?</td>\n        <td>Microsoft, Starbucks, and Dell experienced declines when their WHY became unclear but showed recovery when reconnecting with it.</td>\n      </tr>\n      <tr>\n        <td>Chapter 13: THE ORIGINS OF A WHY</td>\n        <td>Where does an organization's WHY come from?</td>\n        <td>It comes from the founders' upbringing, life experiences, and core beliefs.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did Apple’s founders’ beliefs shape its WHY?</td>\n        <td>Jobs and Wozniak’s desire to empower individuals and challenge power shaped Apple's purpose.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>Why is discovering WHY easier than staying true to it?</td>\n        <td>Because articulating and living the WHY consistently requires discipline beyond initial discovery.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How did the author rediscover his WHY?</td>\n        <td>The author reflected on his past, recognized his pattern of inspiring others, and committed to starting with WHY in all he does.</td>\n      </tr>\n      <tr>\n        <td>Chapter 14: THE NEW COMPETITION</td>\n        <td>What lesson does Ben Comen’s story teach about competition?</td>\n        <td>Competing against oneself fosters perseverance, support, and personal growth, unlike competing against others.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>How should organizations approach competition according to this chapter?</td>\n        <td>Organizations should focus on being better than themselves and aligning with their WHY rather than trying to outdo competitors.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What are the benefits of starting with WHY for organizations?</td>\n        <td>Starting with WHY builds trust, loyalty, optimism, and innovation, leading to meaningful success.</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td>What is the hopeful message the author leaves readers with?</td>\n        <td>If organizations start with WHY, they can inspire each other and collectively change the world.</td>\n      </tr>\n    </table>\n  </div>\n  <footer>\n    Generated on 11/1/2025 by Megyk Books\n  </footer>\n</body>\n</html>\n"
        }
      }
    ]
  },
  "versionId": "97fd6a84-7cbf-4022-a012-15470ace7f0d",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-02T22:30:13.741Z",
      "createdAt": "2025-11-02T22:30:13.741Z",
      "role": "workflow:owner",
      "workflowId": "mGK2IWUWOiqR0WAh",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": null,
  "tags": []
}