workflows/Terminly_Webinar-Funnel.json
{
  "updatedAt": "2026-01-27T14:54:33.601Z",
  "createdAt": "2025-09-18T07:09:02.634Z",
  "id": "j3yPDFyXTPfsW2Od",
  "name": "Terminly Webinar-Funnel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webinaris/register",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95733451-26a7-4758-b1de-a039b274e451",
      "name": "Webinaris Registration",
      "webhookId": "ff33b74f-0c3d-4677-8861-e4292bd99131"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webinaris/attended",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "id": "2b03a39d-d2f2-450d-8ad1-bef9d659792e",
      "name": "Webinar Attended",
      "webhookId": "4f9ff381-0d3c-48c5-bf9c-0fe9532163b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/5737b34b-0b01-4011-bf12-61207b1d0c15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"firstName\": \"{{ $('Webinaris Registration').item.json.body.first_name }}\",\n  \"lastName\": \"{{ $('Webinaris Registration').item.json.body.last_name }}\",\n  \"phone\": \"{{ $('Webinaris Registration').item.json.body.phone }}\",\n  \"webinar_link\": \"{{ $('Webinaris Registration').item.json.body.webinar_link }}\",\n  \"date\": \"{{ $('Webinaris Registration').item.json.body.webinar_date }}, {{ $('Webinaris Registration').item.json.body.webinar_time }}\",\n  \"tags\": [\"Webinar-Reg-Gefahren\"]\n}\n",
        "options": {
          "lowercaseHeaders": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "27e02e22-5136-4c07-8a61-e785487cb298",
      "name": "Transfer Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/uaHoSxqFdP0JuYwsLsw4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$json.body.email}}"
            },
            {
              "name": "firstname",
              "value": "={{ $json.body.firstname }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "time",
              "value": "={{ $json.body.time }}"
            },
            {
              "name": "attended_at",
              "value": "={{ $json.body.attended_at }}"
            },
            {
              "name": "lastname",
              "value": "={{ $json.body.lastname }}"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        176
      ],
      "id": "773d7144-55b4-4b3f-8118-5de2f83456f1",
      "name": "Transfer Attendence"
    }
  ],
  "connections": {
    "Webinaris Registration": {
      "main": [
        [
          {
            "node": "Transfer Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webinar Attended": {
      "main": [
        [
          {
            "node": "Transfer Attendence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7a0c96ee-a182-40e0-a509-e7eadadb4e09",
  "activeVersionId": "7a0c96ee-a182-40e0-a509-e7eadadb4e09",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-09-18T07:09:02.644Z",
      "createdAt": "2025-09-18T07:09:02.644Z",
      "role": "workflow:owner",
      "workflowId": "j3yPDFyXTPfsW2Od",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-27T14:54:50.000Z",
    "createdAt": "2026-01-27T14:54:33.617Z",
    "versionId": "7a0c96ee-a182-40e0-a509-e7eadadb4e09",
    "workflowId": "j3yPDFyXTPfsW2Od",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webinaris/register",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "95733451-26a7-4758-b1de-a039b274e451",
        "name": "Webinaris Registration",
        "webhookId": "ff33b74f-0c3d-4677-8861-e4292bd99131"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webinaris/attended",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          176
        ],
        "id": "2b03a39d-d2f2-450d-8ad1-bef9d659792e",
        "name": "Webinar Attended",
        "webhookId": "4f9ff381-0d3c-48c5-bf9c-0fe9532163b0"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/5737b34b-0b01-4011-bf12-61207b1d0c15",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"firstName\": \"{{ $('Webinaris Registration').item.json.body.first_name }}\",\n  \"lastName\": \"{{ $('Webinaris Registration').item.json.body.last_name }}\",\n  \"phone\": \"{{ $('Webinaris Registration').item.json.body.phone }}\",\n  \"webinar_link\": \"{{ $('Webinaris Registration').item.json.body.webinar_link }}\",\n  \"date\": \"{{ $('Webinaris Registration').item.json.body.webinar_date }}, {{ $('Webinaris Registration').item.json.body.webinar_time }}\",\n  \"tags\": [\"Webinar-Reg-Gefahren\"]\n}\n",
          "options": {
            "lowercaseHeaders": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "id": "27e02e22-5136-4c07-8a61-e785487cb298",
        "name": "Transfer Lead"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/uaHoSxqFdP0JuYwsLsw4",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{$json.body.email}}"
              },
              {
                "name": "firstname",
                "value": "={{ $json.body.firstname }}"
              },
              {
                "name": "phone",
                "value": "={{ $json.body.phone }}"
              },
              {
                "name": "time",
                "value": "={{ $json.body.time }}"
              },
              {
                "name": "attended_at",
                "value": "={{ $json.body.attended_at }}"
              },
              {
                "name": "lastname",
                "value": "={{ $json.body.lastname }}"
              }
            ]
          },
          "options": {
            "lowercaseHeaders": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          176
        ],
        "id": "773d7144-55b4-4b3f-8118-5de2f83456f1",
        "name": "Transfer Attendence"
      }
    ],
    "connections": {
      "Webinaris Registration": {
        "main": [
          [
            {
              "node": "Transfer Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webinar Attended": {
        "main": [
          [
            {
              "node": "Transfer Attendence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version 7a0c96ee",
    "description": "",
    "autosaved": true
  },
  "tags": []
}