workflows/Terminly_Evergreen_Funnel.json
{
  "updatedAt": "2026-05-04T11:25:04.152Z",
  "createdAt": "2026-04-24T11:06:58.446Z",
  "id": "sKPpwffyytwiFM33",
  "name": "Terminly Evergreen Funnel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cce67363-1e5c-4f3d-b029-a0ac33944c03",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "18169219-f4f5-40dc-b909-880322420f41",
      "name": "Webinaris Registration",
      "webhookId": "cce67363-1e5c-4f3d-b029-a0ac33944c03"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/gfOmWt7yi43Dk6Uy4t0k",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webinaris Registration').item.json.body.first_name }}\",\n  \"phone\": \"{{ '+' + $('Webinaris Registration').item.json.body.phone.replace(/^00/, '') }}\",\n  \"email\": \"{{ $('Webinaris Registration').item.json.body.email }}\",\n  \"webinar_link\": \"{{ $('Webinaris Registration').item.json.body.webinar_link }}\",\n  \"webinar_time\": \"{{ $('Webinaris Registration').item.json.body.webinar_time }}\",\n  \"webinar_date\": \"{{ $('Webinaris Registration').item.json.body.webinar_date }}\",\n  \"appointment_date\": \"{{ $('Edit Fields').item.json.formatted_date }}\"\n}",
        "options": {
          "lowercaseHeaders": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "6c88492e-b7fd-40c5-8919-164a4160a24c",
      "name": "Transfer Lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a875d2a6-6544-4078-84a8-c7f61a590a25",
              "name": "formatted_date",
              "value": "={{ DateTime.fromFormat($('Webinaris Registration').item.json.body.webinar_date + ' ' + $('Webinaris Registration').item.json.body.webinar_time, 'dd.MM.yyyy HH:mm').setZone('Europe/Oslo').toFormat('MM-dd-yyyy hh:mm a').toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "974934d1-2541-4314-9792-0732573d3c23",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webinaris Registration": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Transfer Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b14b0cbf-1d96-4d4f-98c6-a4b72d000509",
  "activeVersionId": "b14b0cbf-1d96-4d4f-98c6-a4b72d000509",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-24T11:06:58.453Z",
      "createdAt": "2026-04-24T11:06:58.453Z",
      "role": "workflow:owner",
      "workflowId": "sKPpwffyytwiFM33",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-04T11:27:41.000Z",
    "createdAt": "2026-05-04T11:25:04.153Z",
    "versionId": "b14b0cbf-1d96-4d4f-98c6-a4b72d000509",
    "workflowId": "sKPpwffyytwiFM33",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cce67363-1e5c-4f3d-b029-a0ac33944c03",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "18169219-f4f5-40dc-b909-880322420f41",
        "name": "Webinaris Registration",
        "webhookId": "cce67363-1e5c-4f3d-b029-a0ac33944c03"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/MIYPP8UL1HJQHGEmtzmm/webhook-trigger/gfOmWt7yi43Dk6Uy4t0k",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"first_name\": \"{{ $('Webinaris Registration').item.json.body.first_name }}\",\n  \"phone\": \"{{ '+' + $('Webinaris Registration').item.json.body.phone.replace(/^00/, '') }}\",\n  \"email\": \"{{ $('Webinaris Registration').item.json.body.email }}\",\n  \"webinar_link\": \"{{ $('Webinaris Registration').item.json.body.webinar_link }}\",\n  \"webinar_time\": \"{{ $('Webinaris Registration').item.json.body.webinar_time }}\",\n  \"webinar_date\": \"{{ $('Webinaris Registration').item.json.body.webinar_date }}\",\n  \"appointment_date\": \"{{ $('Edit Fields').item.json.formatted_date }}\"\n}",
          "options": {
            "lowercaseHeaders": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          416,
          0
        ],
        "id": "6c88492e-b7fd-40c5-8919-164a4160a24c",
        "name": "Transfer Lead"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a875d2a6-6544-4078-84a8-c7f61a590a25",
                "name": "formatted_date",
                "value": "={{ DateTime.fromFormat($('Webinaris Registration').item.json.body.webinar_date + ' ' + $('Webinaris Registration').item.json.body.webinar_time, 'dd.MM.yyyy HH:mm').setZone('Europe/Oslo').toFormat('MM-dd-yyyy hh:mm a').toUpperCase() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "974934d1-2541-4314-9792-0732573d3c23",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Webinaris Registration": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Transfer Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gordan Kljajic",
    "name": "Version b14b0cbf",
    "description": "",
    "autosaved": true
  },
  "tags": []
}