workflows/Validate_Emails.json
{
  "updatedAt": "2026-02-08T19:37:02.831Z",
  "createdAt": "2025-09-23T17:25:22.671Z",
  "id": "jPsJrGPMW87UyOV5",
  "name": "Validate Emails",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## ✅ Pre-Validation (Truelist.io Free Plan)\n\n- Daily quota: **250 validations/day**  \n- Campaign needs: **100–200/day** → quota is enough  \n\n**Approach**  \n- Use **BATCH Validation API**).  \n- Run **daily scheduled n8n flow** to pre-validate next batch.  \n- Store results (`ok`, `risky`, `invalid`) in Supabase/Sheets.  \n- Always keep at least **2–3 days buffer** of validated addresses ready.  \n",
        "height": 528,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -416
      ],
      "id": "1fb84adb-5dcd-4368-82c2-452707a867dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "us_financial_advisors",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "ilike",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_status",
              "fieldValue": "={{ $json.email_state }}:{{ $json.email_sub_state }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1744,
        -160
      ],
      "id": "2e28ab0b-b2fc-40e8-b5cc-d7cb8fa91f7a",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        64
      ],
      "id": "1fbfcf25-29bc-4f1e-b49c-6bb10dfc60c9",
      "name": "Wait",
      "webhookId": "a2f78a2a-cab4-4cad-af0e-b11bc2a7fb44"
    },
    {
      "parameters": {
        "url": "=https://api.truelist.io/api/v1/batches/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -48
      ],
      "id": "e6073b3b-faf6-46d7-8226-a46fdea21ffb",
      "name": "Check Batch Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "Mt1IwL33UHovJk6K",
          "name": "Truelist.io API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.truelist.io/api/v1/batches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -48
      ],
      "id": "13a72a6d-342b-4b3e-b618-97462fc522cb",
      "name": "Batch Validation Truelist.io",
      "credentials": {
        "httpBearerAuth": {
          "id": "Mt1IwL33UHovJk6K",
          "name": "Truelist.io API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "464fc089-5ec5-4659-85c4-61fd9e6d4c82",
              "leftValue": "={{ $json.batch_state }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1714ae59-43a0-4e96-826b-f209fb420497",
              "leftValue": "={{ $json.annotated_csv_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -112
      ],
      "id": "302262a5-c499-4c44-8af8-518b5ba1b4b3",
      "name": "If Completed"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the email string from current item\nconst raw = $json.email || \"\";\n\n// Split if commas exist, otherwise wrap in array\nlet emails = raw.includes(\",\")\n  ? raw.split(\",\").map(e => e.trim()).filter(Boolean)\n  : [raw.trim()];\n\n// Remove any entries that end with .png (case-insensitive)\nemails = emails.filter(e => !e.toLowerCase().endsWith(\".png\"));\n\n\nif(emails.length >1){\n  emails = [ emails[emails.length - 1] ];\n}\n\n// Return the new normalized array\nreturn {\n      ...emails, // always an array\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -48
      ],
      "id": "7ae2e47c-bafd-475a-b96b-98779f69c65f",
      "name": "Extract emails, one per company"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items\nconst allItems = $input.all();\n\n// Build array of arrays (each with one email)\nconst emailArrays = allItems.map(item => [item.json[\"0\"] || item.json.email || item.json.emails]);\n\n// Return a single object with the array-of-arrays\nreturn [\n  {\n    json: {\n      emails: emailArrays\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -48
      ],
      "id": "86717836-0730-4e14-9d8f-ac27c62647d5",
      "name": "Format for Truelist.io"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw CSV string\nconst raw = $json.data || \"\";\n\n// Split into rows, trim whitespace\nconst rows = raw.trim().split(\"\\n\");\n\n// First row is header, remove it\nrows.shift();\n\n// Parse each row into an object\nconst results = rows.map(line => {\n  const [emailRaw, email, didYouMean, emailState, emailSubState] = line.split(\",\");\n\n  return {\n    json: {\n      email: email.trim(),\n      did_you_mean: didYouMean || null,\n      email_state: emailState || null,\n      email_sub_state: emailSubState || null\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -160
      ],
      "id": "91e3080b-b6e2-46c4-9263-ebb2ea274617",
      "name": "Parse Results"
    },
    {
      "parameters": {
        "url": "={{ $json.annotated_csv_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -160
      ],
      "id": "284bcc40-e439-42d2-b647-762e0a82cfca",
      "name": "Get CSV"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "us_financial_advisors",
        "limit": 100,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "neq"
            },
            {
              "keyName": "email_status",
              "condition": "is",
              "keyValue": "=null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        -48
      ],
      "id": "6e465fb4-bd21-42ef-94ba-6c117ae1f478",
      "name": "Get first 100 rows that haven't been validated",
      "credentials": {
        "supabaseApi": {
          "id": "fdzgJDGuPA2JozKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Expecting: { emails: [...] }\nconst emails = $json.emails || [];\n\n// Strict email regex\nconst EMAIL_REGEX =\n  /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$/;\n\n// Allowed characters\nconst SAFE_CHARS =\n  /^[A-Za-z0-9@._%+\\-]+$/;\n\nconst cleaned = [];\n\nfor (let raw of emails) {\n  if (!raw) continue;\n\n  let email = String(raw)\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, \"\"); // remove internal spaces\n\n  if (!SAFE_CHARS.test(email)) continue;\n  if (!EMAIL_REGEX.test(email)) continue;\n\n  cleaned.push(email);\n}\n\n// Deduplicate\nconst unique = [...new Set(cleaned)];\n\n// Convert → Truelist array-of-arrays format\nconst data = unique.map(e => [e]);\n\nreturn {\n  json: {\n    data\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -48
      ],
      "id": "1e147bdb-e11a-45f2-9b8c-0c8e8f5528b9",
      "name": "Clean and Dedupe"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -48
      ],
      "id": "a477b19a-91ca-4e5d-a808-1be467363971",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Check Batch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Batch Status": {
      "main": [
        [
          {
            "node": "If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Validation Truelist.io": {
      "main": [
        [
          {
            "node": "Check Batch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Completed": {
      "main": [
        [
          {
            "node": "Get CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract emails, one per company": {
      "main": [
        [
          {
            "node": "Format for Truelist.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Truelist.io": {
      "main": [
        [
          {
            "node": "Clean and Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CSV": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get first 100 rows that haven't been validated": {
      "main": [
        [
          {
            "node": "Extract emails, one per company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Dedupe": {
      "main": [
        [
          {
            "node": "Batch Validation Truelist.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get first 100 rows that haven't been validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "WbISMAIlclQfzorG",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "afbcd75c-eb9c-4d8e-abc1-140cf4787c23",
  "activeVersionId": "afbcd75c-eb9c-4d8e-abc1-140cf4787c23",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-23T17:25:22.689Z",
      "createdAt": "2025-09-23T17:25:22.689Z",
      "role": "workflow:owner",
      "workflowId": "jPsJrGPMW87UyOV5",
      "projectId": "B7QJE85HA2Vij1it"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-08T19:37:08.000Z",
    "createdAt": "2026-02-08T19:37:02.834Z",
    "versionId": "afbcd75c-eb9c-4d8e-abc1-140cf4787c23",
    "workflowId": "jPsJrGPMW87UyOV5",
    "nodes": [
      {
        "parameters": {
          "content": "## ✅ Pre-Validation (Truelist.io Free Plan)\n\n- Daily quota: **250 validations/day**  \n- Campaign needs: **100–200/day** → quota is enough  \n\n**Approach**  \n- Use **BATCH Validation API**).  \n- Run **daily scheduled n8n flow** to pre-validate next batch.  \n- Store results (`ok`, `risky`, `invalid`) in Supabase/Sheets.  \n- Always keep at least **2–3 days buffer** of validated addresses ready.  \n",
          "height": 528,
          "width": 848,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -656,
          -416
        ],
        "id": "1fb84adb-5dcd-4368-82c2-452707a867dd",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "us_financial_advisors",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "condition": "ilike",
                "keyValue": "={{ $json.email }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "email_status",
                "fieldValue": "={{ $json.email_state }}:{{ $json.email_sub_state }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1744,
          -160
        ],
        "id": "2e28ab0b-b2fc-40e8-b5cc-d7cb8fa91f7a",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1296,
          64
        ],
        "id": "1fbfcf25-29bc-4f1e-b49c-6bb10dfc60c9",
        "name": "Wait",
        "webhookId": "a2f78a2a-cab4-4cad-af0e-b11bc2a7fb44"
      },
      {
        "parameters": {
          "url": "=https://api.truelist.io/api/v1/batches/{{ $json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          848,
          -48
        ],
        "id": "e6073b3b-faf6-46d7-8226-a46fdea21ffb",
        "name": "Check Batch Status",
        "credentials": {
          "httpBearerAuth": {
            "id": "Mt1IwL33UHovJk6K",
            "name": "Truelist.io API Key"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.truelist.io/api/v1/batches",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "data",
                "value": "={{ $json.data }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          -48
        ],
        "id": "13a72a6d-342b-4b3e-b618-97462fc522cb",
        "name": "Batch Validation Truelist.io",
        "credentials": {
          "httpBearerAuth": {
            "id": "Mt1IwL33UHovJk6K",
            "name": "Truelist.io API Key"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "464fc089-5ec5-4659-85c4-61fd9e6d4c82",
                "leftValue": "={{ $json.batch_state }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "1714ae59-43a0-4e96-826b-f209fb420497",
                "leftValue": "={{ $json.annotated_csv_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1072,
          -112
        ],
        "id": "302262a5-c499-4c44-8af8-518b5ba1b4b3",
        "name": "If Completed"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the email string from current item\nconst raw = $json.email || \"\";\n\n// Split if commas exist, otherwise wrap in array\nlet emails = raw.includes(\",\")\n  ? raw.split(\",\").map(e => e.trim()).filter(Boolean)\n  : [raw.trim()];\n\n// Remove any entries that end with .png (case-insensitive)\nemails = emails.filter(e => !e.toLowerCase().endsWith(\".png\"));\n\n\nif(emails.length >1){\n  emails = [ emails[emails.length - 1] ];\n}\n\n// Return the new normalized array\nreturn {\n      ...emails, // always an array\n  };\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          -48
        ],
        "id": "7ae2e47c-bafd-475a-b96b-98779f69c65f",
        "name": "Extract emails, one per company"
      },
      {
        "parameters": {
          "jsCode": "// Collect all input items\nconst allItems = $input.all();\n\n// Build array of arrays (each with one email)\nconst emailArrays = allItems.map(item => [item.json[\"0\"] || item.json.email || item.json.emails]);\n\n// Return a single object with the array-of-arrays\nreturn [\n  {\n    json: {\n      emails: emailArrays\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -48
        ],
        "id": "86717836-0730-4e14-9d8f-ac27c62647d5",
        "name": "Format for Truelist.io"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw CSV string\nconst raw = $json.data || \"\";\n\n// Split into rows, trim whitespace\nconst rows = raw.trim().split(\"\\n\");\n\n// First row is header, remove it\nrows.shift();\n\n// Parse each row into an object\nconst results = rows.map(line => {\n  const [emailRaw, email, didYouMean, emailState, emailSubState] = line.split(\",\");\n\n  return {\n    json: {\n      email: email.trim(),\n      did_you_mean: didYouMean || null,\n      email_state: emailState || null,\n      email_sub_state: emailSubState || null\n    }\n  };\n});\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          -160
        ],
        "id": "91e3080b-b6e2-46c4-9263-ebb2ea274617",
        "name": "Parse Results"
      },
      {
        "parameters": {
          "url": "={{ $json.annotated_csv_url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1280,
          -160
        ],
        "id": "284bcc40-e439-42d2-b647-762e0a82cfca",
        "name": "Get CSV"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "us_financial_advisors",
          "limit": 100,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "condition": "neq"
              },
              {
                "keyName": "email_status",
                "condition": "is",
                "keyValue": "=null"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -272,
          -48
        ],
        "id": "6e465fb4-bd21-42ef-94ba-6c117ae1f478",
        "name": "Get first 100 rows that haven't been validated",
        "credentials": {
          "supabaseApi": {
            "id": "fdzgJDGuPA2JozKn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Expecting: { emails: [...] }\nconst emails = $json.emails || [];\n\n// Strict email regex\nconst EMAIL_REGEX =\n  /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$/;\n\n// Allowed characters\nconst SAFE_CHARS =\n  /^[A-Za-z0-9@._%+\\-]+$/;\n\nconst cleaned = [];\n\nfor (let raw of emails) {\n  if (!raw) continue;\n\n  let email = String(raw)\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, \"\"); // remove internal spaces\n\n  if (!SAFE_CHARS.test(email)) continue;\n  if (!EMAIL_REGEX.test(email)) continue;\n\n  cleaned.push(email);\n}\n\n// Deduplicate\nconst unique = [...new Set(cleaned)];\n\n// Convert → Truelist array-of-arrays format\nconst data = unique.map(e => [e]);\n\nreturn {\n  json: {\n    data\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -48
        ],
        "id": "1e147bdb-e11a-45f2-9b8c-0c8e8f5528b9",
        "name": "Clean and Dedupe"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -528,
          -48
        ],
        "id": "a477b19a-91ca-4e5d-a808-1be467363971",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "Wait": {
        "main": [
          [
            {
              "node": "Check Batch Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Batch Status": {
        "main": [
          [
            {
              "node": "If Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch Validation Truelist.io": {
        "main": [
          [
            {
              "node": "Check Batch Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Completed": {
        "main": [
          [
            {
              "node": "Get CSV",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract emails, one per company": {
        "main": [
          [
            {
              "node": "Format for Truelist.io",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format for Truelist.io": {
        "main": [
          [
            {
              "node": "Clean and Dedupe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Results": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get CSV": {
        "main": [
          [
            {
              "node": "Parse Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get first 100 rows that haven't been validated": {
        "main": [
          [
            {
              "node": "Extract emails, one per company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean and Dedupe": {
        "main": [
          [
            {
              "node": "Batch Validation Truelist.io",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get first 100 rows that haven't been validated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gordan Kljajic",
    "name": "Version afbcd75c",
    "description": "",
    "autosaved": true
  },
  "tags": []
}